<template>
  <div>
    <section class="form-sec sec-pad">
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="admin-cnt">
            <div class="cnt-tlt">Add type</div>
            <div class="form">
              <form @submit.prevent="addType">
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <SingleSrcSelect
                      :sBox="services.sBox"
                      @hideOption="hideOption"
                      :label="services.label"
                      :selected="services.selected"
                      :items="services.items"
                      :disabled="false"
                      @setSelectedVal="setSelectedVal($event)"
                      v-if="reRenderServices"
                    />
                    <div v-if="error.is.service_id" class="text-danger m-t-m-10">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      {{ error.msg.service_id }}
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Name:</label>
                      <input v-model="name" type="text" name="name" class="form-control" />
                    </div>
                    <div v-if="error.is.name" class="text-danger m-t-m-10">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      {{ error.msg.name }}
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Price:</label>
                      <div class="input-group ctm-input-group">
                        <span>&euro;</span>
                        <input
                          v-model="price"
                          type="number"
                          name="price"
                          class="form-control"
                          step="any"
                        />
                      </div>
                    </div>
                    <div v-if="error.is.price" class="text-danger m-t-m-10">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      {{ error.msg.price }}
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <SingleSrcSelect
                      :sBox="duration.sBox"
                      @hideOption="hideOption"
                      :label="duration.label"
                      :selected="duration.selected"
                      :items="duration.items"
                      :disabled="false"
                      @setSelectedVal="setSelectedVal($event)"
                    />
                    <div v-if="error.is.time" class="text-danger m-t-m-10">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      {{ error.msg.time }}
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn ctm-btn float-right" type="submit">save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import SingleSrcSelect from "./selectOption/SingleSrcSelect.vue";
export default {
  components: {
    SingleSrcSelect
  },
  data() {
    return {
      services: {
        sBox: "addTypeServices",
        label: "Services",
        selected: {
          value: "Select Service"
        },
        items: []
      },
      duration: {
        sBox: "addTypeDuration",
        label: "Duration",
        selected: {
          value: "Select Duration"
        },
        items: [
          {
            key: 30,
            value: "30min"
          },
          {
            key: 60,
            value: "1h"
          },
          {
            key: 90,
            value: "1h 30min"
          },
          {
            key: 120,
            value: "2h"
          },
          {
            key: 150,
            value: "2h 30min"
          },
          {
            key: 180,
            value: "3h"
          },
          {
            key: 210,
            value: "3h 30min"
          },
          {
            key: 240,
            value: "4h"
          },
          {
            key: 270,
            value: "4h 30min"
          },
          {
            key: 300,
            value: "5h"
          },
          {
            key: 330,
            value: "5h 30min"
          },
          {
            key: 360,
            value: "6h"
          },
          {
            key: 390,
            value: "6h 30min"
          },
          {
            key: 420,
            value: "7h"
          },
          {
            key: 450,
            value: "7h 30min"
          },
          {
            key: 480,
            value: "8h"
          },
          {
            key: 540,
            value: "9h"
          },
          {
            key: 600,
            value: "10h"
          },
          {
            key: 660,
            value: "11h"
          },
          {
            key: 720,
            value: "12h"
          }
        ]
      },
      service_id: "",
      name: "",
      price: "",
      time: "",
      reRenderServices: true,
      error: {
        is: {
          service_id: false,
          name: false,
          price: false,
          time: false
        },
        msg: {
          service_id: "Please select service.",
          name: "",
          price: "",
          time: ""
        }
      }
    };
  },
  methods: {
    setSelectedVal(d) {
      if (d.key == "addTypeServices") this.service_id = d.value;
      else if (d.key == "addTypeDuration") this.time = d.value;
    },
    async addType() {
      let data = {
        name: this.name,
        price: this.price,
        time: this.time
      };
      let storeServicesTypeUrl =
        this.$base_url + "/api/services/" + this.service_id + "/types";
      if (this.service_id != "") {
        this.error.is.service_id = false;
        this.error.is.name = false;
        this.error.is.price = false;
        this.error.is.time = false;
        let errors = {};
        let response = await this.$getData("post", storeServicesTypeUrl, data);
        if (!response.success) {
          for (const key of Object.keys(response.data)) {
            errors[key] = response.data[key];
          }
          if (errors.name) {
            this.error.is.name = true;
            this.error.msg.name = errors.name[0];
          }
          if (errors.price) {
            this.error.is.price = true;
            this.error.msg.price = errors.price[0];
          }
          if (errors.time) {
            this.error.is.time = true;
            this.error.msg.time = errors.time[0];
          }
        }

        if (Object.keys(errors).length == 0) {
          this.$toast.success(response.message, {
            duration: 5000,
            dismissible: true
          });

          this.$router.push({
            name: "typeCalendar",
            query: { service: this.service_id }
          });
        }
      } else this.error.is.service_id = true;
      // console.log(this.form);
    },
    hideOption(d) {
      this.$emit("updateTroggleOption", d);
    },
    reRenderServicesI() {
      this.reRenderServices = false;
      this.$nextTick(() => {
        this.reRenderServices = true;
      });
    }
  },
  created() {},
  async mounted() {
    let getServicesUrl = this.$base_url + "/api/services/" + this.$user_id;
    let services = await this.$getData("get", getServicesUrl);

    if (services.success) {
      this.services.items = services.data.map(item => {
        return {
          key: item.id,
          value: item.title
        };
      });
      this.reRenderServicesI();
    } else {
      this.$toast.error(services.message, {
        duration: 5000,
        dismissible: true
      });
    }
  }
};
</script>

<style></style>
