<template>
  <div>
    <section class="form-sec sec-pad">
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="admin-cnt">
            <div class="cnt-tlt">Add Worker</div>
            <div class="form">
              <form @submit.prevent="addWorker">
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Name:</label>
                      <input v-model="name" type="text" name="name" class="form-control" />
                    </div>
                    <div v-if="error.is.name" class="text-danger m-t-m-10">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      {{ error.msg.name }}
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Surname:</label>
                      <input v-model="surname" type="text" name="surname" class="form-control" />
                    </div>
                    <div v-if="error.is.surname" class="text-danger m-t-m-10">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      {{ error.msg.surname }}
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Email:</label>
                      <input v-model="email" type="email" name="email" class="form-control" />
                    </div>
                    <div v-if="error.is.email" class="text-danger m-t-m-10">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      {{ error.msg.email }}
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Phone:</label>
                      <input v-model="phone" type="text" name="phone" class="form-control" />
                    </div>
                    <div v-if="error.is.phone" class="text-danger m-t-m-10">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      {{ error.msg.phone }}
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn ctm-btn float-right" type="submit">save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      name: "",
      surname: "",
      email: "",
      phone: "",
      error: {
        is: {
          name: false,
          surname: false,
          email: false,
          phone: false
        },
        msg: {
          name: "",
          surname: "",
          email: "",
          phone: ""
        }
      }
    };
  },
  methods: {
    async addWorker() {
      let data = {
        name: this.name,
        surname: this.surname,
        email: this.email,
        phone: this.phone
      };
      let storeWorkerUrl =
        this.$base_url + "/api/users/" + this.$user_id + "/workers";
      this.error.is.name = false;
      this.error.is.surname = false;
      this.error.is.email = false;
      this.error.is.phone = false;
      let errors = {};
      let response = await this.$getData("post", storeWorkerUrl, data);
      if (!response.success) {
        for (const key of Object.keys(response.data)) {
          errors[key] = response.data[key];
        }
        if (errors.name) {
          this.error.is.name = true;
          this.error.msg.name = errors.name[0];
        }
        if (errors.surname) {
          this.error.is.surname = true;
          this.error.msg.surname = errors.surname[0];
        }
        if (errors.email) {
          this.error.is.email = true;
          this.error.msg.email = errors.email[0];
        }
        if (errors.phone) {
          this.error.is.phone = true;
          this.error.msg.phone = errors.phone[0];
        }
      }

      if (Object.keys(errors).length == 0) {
        this.$toast.success(response.message, {
          duration: 5000,
          dismissible: true
        });

        this.$router.go(-1);
      }
    }
  },
  created() {},
  mounted() {}
};
</script>

<style></style>
