<template>
  <div class="col-12">
    <div class="row">
      <div class="col-12 col-sm-6">
        <SingleSrcSelect
          :sBox="services.sBox"
          @hideOption="hideOption"
          :label="services.label"
          :selected="services.selected"
          :name="services.name"
          :items.sync="services.items"
          :disabled="false"
          @setSelectedVal="setSelectedVal($event)"
          v-if="reRenderServices"
        />
      </div>
      <div class="col-12 col-sm-6">
        <SingleSrcSelect
          :sBox="types.sBox"
          @hideOption="hideOption"
          :label="types.label"
          :selected="types.selected"
          :name="types.name"
          :items.sync="types.items"
          :disabled="false"
          @setSelectedVal="setSelectedVal($event)"
          v-if="reRenderTypes"
        />
      </div>
    </div>
    <div class="admin-cnt">
      <div class="cnt-tlt">Calendar View</div>
      <div class="apointment-srl-are">
        <vue-cal
          :time-from="0 * 60"
          :time-to="24 * 60"
          :time-step="calStep"
          :disable-views="['years', 'year']"
          :events="data.event"
          :on-event-click="onEventClick"
          class="vue-cal-ctm"
          @ready="logEvents('ready', $event)"
          @view-change="logEvents('view-change', $event)"
          @event-create="logEvents('event-create', $event)"
          v-if="type_id"
        ></vue-cal>
      </div>
      <transition name="appear">
        <CalendarModal
          v-if="isCalendarModal"
          :calendarModelD="calendarModelD"
          @confirmedBooking="confirmedBookingR($event)"
          @cancledBooking="cancledBookingR($event)"
          @cancel="cancel"
        />
      </transition>
      <transition name="appear">
        <ConfirmCancledModal
          :data="selectedData"
          v-if="cancledModal"
          @confirm="cancledBooking($event)"
          @cancel="cancelCancled"
        />
      </transition>
      <transition name="appear">
        <ConfirmModal
          :data="selectedData"
          v-if="confirmedModal"
          @confirm="confirmedBooking($event)"
          @cancel="cancelConfirmed"
        />
      </transition>
    </div>
  </div>
</template>

<script>
import SingleSrcSelect from "./selectOption/SingleSrcSelect.vue";
import CalendarModal from "./modal/CalendarModal.vue";
import ConfirmCancledModal from "./modal/ConfirmCancledModal.vue";
import ConfirmModal from "./modal/ConfirmModal.vue";
export default {
  components: {
    SingleSrcSelect,
    CalendarModal,
    ConfirmCancledModal,
    ConfirmModal
  },
  data() {
    return {
      types: {
        sBox: "types",
        label: "Types",
        name: "type_id",
        selected: {
          value: "Select Type",
          id: ""
        },
        items: []
      },
      typeData: null,
      type_id: 0,
      reRenderTypes: true,
      services: {
        sBox: "services",
        label: "Services",
        name: "service_id",
        selected: {
          value: "Select Service",
          id: ""
        },
        items: []
      },
      service_id: null,
      reRenderServices: true,
      calStep: 60,
      isCalendarModal: false,
      data: [],
      calendarModelD: {},
      selectedData: null,
      cancledModal: false,
      confirmedModal: false
    };
  },
  methods: {
    hideOption(d) {
      this.$emit("updateTroggleOption", d);
    },
    reRenderTypesI() {
      this.reRenderTypes = false;
      this.$nextTick(() => {
        this.reRenderTypes = true;
      });
    },
    async setSelectedVal(d) {
      if (d.key == "types") {
        this.type_id = 0;
        this.$nextTick(() => {
          this.type_id = d.value;
        });
      } else if (d.key == "services") {
        this.service_id = d.value;
        let getTypesUrl =
          this.$base_url + "/api/services/" + this.service_id + "/types";

        let types = await this.$getData("get", getTypesUrl);

        this.typeData = types.data;
        if (types.success) {
          this.types.items = types.data.map(item => {
            return {
              key: item.id,
              value: item.name
            };
          });
          this.types.selected.value = this.types.items[0].value;
          this.types.selected.id = this.types.items[0].key;
          // console.log(this.types.selected.value);
          this.type_id = 0;
          this.$nextTick(() => {
            this.type_id = this.types.items[0].key;
          });
          this.calStep = this.typeData[0].time;
        } else {
          this.$toast.error(types.message, {
            duration: 5000,
            dismissible: true
          });
        }
        this.reRenderTypesI();
      }
    },
    reRenderServicesI() {
      this.reRenderServices = false;
      this.$nextTick(() => {
        this.reRenderServices = true;
      });
    },
    async logEvents($e, $data) {
      let start_date = $data.startDate;
      let end_date = $data.endDate;
      let start =
        start_date.getFullYear() +
        "-" +
        (start_date.getMonth() + 1) +
        "-" +
        start_date.getDate();
      let end =
        end_date.getFullYear() +
        "-" +
        (end_date.getMonth() + 1) +
        "-" +
        end_date.getDate();
      let getTypesUrl =
        this.$base_url +
        "/api/services/" +
        this.service_id +
        "/types/" +
        this.type_id +
        "/getworkers?start_date=" +
        start +
        "&end_date=" +
        end;
      let types = await this.$getData("get", getTypesUrl);
      this.data = types.data;
      var container = this.$el.querySelector(".vuecal__bg");
      container.scrollTop = 280;
    },
    documentClick(e) {
      this.$emit("documentC", e);
    },
    onEventClick(event, e) {
      this.calendarModelD.service_id = this.service_id;
      this.calendarModelD.service_name = this.services.selected.value;
      this.calendarModelD.id = this.data.id;
      this.calendarModelD.name = this.data.name;
      this.calendarModelD.price = this.data.price;
      this.calendarModelD.time = this.data.time;
      this.calendarModelD.event = event;
      this.isCalendarModal = true;
      // console.log(event);

      // Prevent navigating to narrower view (default vue-cal behavior).
      e.stopPropagation();
    },
    cancledBookingR(input) {
      this.isCalendarModal = false;

      this.selectedData = input;
      this.cancledModal = true;
    },
    confirmedBookingR(input) {
      this.isCalendarModal = false;

      this.selectedData = input;
      this.confirmedModal = true;
    },
    cancel() {
      this.isCalendarModal = false;
    },
    cancelCancled() {
      this.cancledModal = false;
      this.selectedData = null;
    },
    cancelConfirmed() {
      this.confirmedModal = false;
      this.selectedData = null;
    },
    async cancledBooking(d) {
      this.cancledModal = false;
      let cancleBookingUrl =
        this.$base_url +
        "/api/services/" +
        d.service_id +
        "/types/" +
        d.type_id +
        "/bookings/" +
        d.booking_id +
        "/cancle";

      let booking = await this.$getData("get", cancleBookingUrl);
      this.data.event.map((e, i) => {
        if (e.start == d.start) {
          e.workers.map((w, j) => {
            if (w.id == d.worker.id) {
              let title = e.title.split("</span>");
              title[j] =
                "<span class='wkr-status-free'>" +
                w.name.slice(0, 2).toUpperCase() +
                ". ";
              w.class = "wkr-status-free";
              e.workers[j] = w;
              e.title = title.join("</span>");
              this.data.event[i] = e;
            }
          });
        }
      });
    },
    async confirmedBooking(d) {
      this.confirmedModal = false;
      let confirmBookingUrl =
        this.$base_url +
        "/api/services/" +
        d.service_id +
        "/types/" +
        d.type_id +
        "/bookings/" +
        d.booking_id +
        "/confirm";

      let booking = await this.$getData("get", confirmBookingUrl);
      this.data.event.map((e, i) => {
        if (e.start == d.start) {
          e.workers.map((w, j) => {
            if (w.id == d.worker.id) {
              let title = e.title.split("</span>");
              title[j] =
                "<span class='wkr-status-confirm'>" +
                w.name.slice(0, 2).toUpperCase() +
                ". ";
              w.class = "wkr-status-confirm";
              e.workers[j] = w;
              e.title = title.join("</span>");
              this.data.event[i] = e;
            }
          });
        }
      });
    }
  },
  created() {
    window.addEventListener("click", this.documentClick);
  },
  async mounted() {
    let self = this;
    let getServicesUrl = this.$base_url + "/api/services/" + this.$user_id;
    let services = await this.$getData("get", getServicesUrl);

    if (services.success) {
      this.services.items = services.data.map(item => {
        return {
          key: item.id,
          value: item.title
        };
      });
      this.services.selected.value = this.services.items[0].value;
      this.reRenderServicesI();
      this.service_id = this.services.items[0].key;
      let getTypesUrl =
        this.$base_url + "/api/services/" + this.service_id + "/types";

      let types = await this.$getData("get", getTypesUrl);

      this.typeData = types.data;
      if (types.success) {
        this.types.items = types.data.map(item => {
          return {
            key: item.id,
            value: item.name
          };
        });
        this.types.selected.value = this.types.items[0].value;
        this.types.selected.id = this.types.items[0].key;
        // console.log(this.types.selected.value);
        this.type_id = this.types.items[0].key;
        this.calStep = this.typeData[0].time;
      } else {
        this.$toast.error(types.message, {
          duration: 5000,
          dismissible: true
        });
      }
      this.reRenderTypesI();
    } else {
      this.$toast.error(services.message, {
        duration: 5000,
        dismissible: true
      });
    }
  }
};
</script>

<style>
.vuecal__event-time {
  display: none;
}
.vuecal__cell-events {
  cursor: pointer;
}
</style>
