<template>
  <div @click="documentClick">
    <HeaderCalendar />
    <router-view />
  </div>
</template>

<script>
import HeaderCalendar from "./HeaderCalendar.vue";
export default {
  props: ["api_token"],
  components: {
    HeaderCalendar
  },
  data() {
    return {};
  },
  methods: {
    documentClick(e) {
      this.$emit("documentC", e);
    }
  },
  created() {
    axios.defaults.headers.common = {
      Accept: "application/json",
      "Content-Type": "application/json;charset=UTF-8",
      Authorization: "Bearer " + this.api_token
    };
    axios.interceptors.response.use(
      response => {
        return response;
      },
      error => {
        if (error.response) {
          return error.response;
        }
      }
    );
  },
  mounted() {}
};
</script>

<style></style>
