<template>
  <div class="col-12">
    <div class="row">
      <div class="col-12 col-sm-12">
        <div class="admin-cnt">
          <div class="cnt-tlt">Add Leave Day</div>
          <div class="form">
            <form @submit.prevent="editLeaveDay">
              <div class="row">
                <div class="col-12 col-sm-6">
                  <SingleSrcSelect
                    :sBox="workers.sBox"
                    @hideOption="hideOption"
                    :label="workers.label"
                    :selected="workers.selected"
                    :items="workers.items"
                    :disabled="true"
                    @setSelectedVal="setSelectedVal($event)"
                    v-if="reRenderWorkers"
                  />
                </div>
                <div class="col-12 col-sm-6 form-group">
                  <label>Date</label>
                  <vc-date-picker v-model="date" />
                  <div v-if="error.is.date" class="text-danger m-t-m-10">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    {{ error.msg.date }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <SingleSrcSelect
                    :sBox="startd.sBox"
                    @hideOption="hideOption"
                    :label="startd.label"
                    :selected="startd.selected"
                    :items="startd.items"
                    :disabled="false"
                    @setSelectedVal="setSelectedVal($event)"
                  />
                  <div v-if="error.is.start" class="text-danger m-t-m-10">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    {{ error.msg.start }}
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <SingleSrcSelect
                    :sBox="endd.sBox"
                    @hideOption="hideOption"
                    :label="endd.label"
                    :selected="endd.selected"
                    :items="endd.items"
                    :disabled="false"
                    @setSelectedVal="setSelectedVal($event)"
                  />
                  <div v-if="error.is.end" class="text-danger m-t-m-10">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    {{ error.msg.end }}
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn ctm-btn float-right" type="submit">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SingleSrcSelect from "./selectOption/SingleSrcSelect.vue";
export default {
  components: {
    SingleSrcSelect
  },
  data() {
    return {
      workers: {
        sBox: "workers",
        label: "Worker",
        name: "worker_id",
        selected: {
          value: "Select Worker",
          id: ""
        },
        items: []
      },
      startd: {
        sBox: "start",
        label: "Start",
        selected: {
          value: "00:00"
        },
        items: [
          {
            key: "00:00:00",
            value: "00:00"
          },
          {
            key: "00:30:00",
            value: "00:30"
          },
          {
            key: "01:00:00",
            value: "01:00"
          },
          {
            key: "01:30:00",
            value: "01:30"
          },
          {
            key: "02:00:00",
            value: "02:00"
          },
          {
            key: "02:30:00",
            value: "02:30"
          },
          {
            key: "03:00:00",
            value: "03:00"
          },
          {
            key: "03:30:00",
            value: "03:30"
          },
          {
            key: "04:00:00",
            value: "04:00"
          },
          {
            key: "04:30:00",
            value: "04:30"
          },
          {
            key: "05:00:00",
            value: "05:00"
          },
          {
            key: "05:30:00",
            value: "05:30"
          },
          {
            key: "06:00:00",
            value: "06:00"
          },
          {
            key: "06:30:00",
            value: "06:30"
          },
          {
            key: "07:00:00",
            value: "07:00"
          },
          {
            key: "07:30:00",
            value: "07:30"
          },
          {
            key: "08:00:00",
            value: "08:00"
          },
          {
            key: "08:30:00",
            value: "08:30"
          },
          {
            key: "09:00:00",
            value: "09:00"
          },
          {
            key: "09:30:00",
            value: "09:30"
          },
          {
            key: "10:00:00",
            value: "10:00"
          },
          {
            key: "10:30:00",
            value: "10:30"
          },
          {
            key: "11:00:00",
            value: "11:00"
          },
          {
            key: "11:30:00",
            value: "11:30"
          },
          {
            key: "12:00:00",
            value: "12:00"
          },
          {
            key: "12:30:00",
            value: "12:30"
          },
          {
            key: "13:00:00",
            value: "13:00"
          },
          {
            key: "13:30:00",
            value: "13:30"
          },
          {
            key: "14:00:00",
            value: "14:00"
          },
          {
            key: "14:30:00",
            value: "14:30"
          },
          {
            key: "15:00:00",
            value: "15:00"
          },
          {
            key: "15:30:00",
            value: "15:30"
          },
          {
            key: "16:00:00",
            value: "16:00"
          },
          {
            key: "16:30:00",
            value: "16:30"
          },
          {
            key: "17:00:00",
            value: "17:00"
          },
          {
            key: "17:30:00",
            value: "17:30"
          },
          {
            key: "18:00:00",
            value: "18:00"
          },
          {
            key: "18:30:00",
            value: "18:30"
          },
          {
            key: "19:00:00",
            value: "19:00"
          },
          {
            key: "19:30:00",
            value: "19:30"
          },
          {
            key: "20:00:00",
            value: "20:00"
          },
          {
            key: "20:30:00",
            value: "20:30"
          },
          {
            key: "21:00:00",
            value: "21:00"
          },
          {
            key: "21:30:00",
            value: "21:30"
          },
          {
            key: "22:00:00",
            value: "22:00"
          },
          {
            key: "22:30:00",
            value: "22:30"
          },
          {
            key: "23:00:00",
            value: "23:00"
          },
          {
            key: "23:30:00",
            value: "23:30"
          }
        ]
      },
      endd: {
        sBox: "end",
        label: "End",
        selected: {
          value: "00:00"
        },
        items: [
          {
            key: "00:00:00",
            value: "00:00"
          },
          {
            key: "00:30:00",
            value: "00:30"
          },
          {
            key: "01:00:00",
            value: "01:00"
          },
          {
            key: "01:30:00",
            value: "01:30"
          },
          {
            key: "02:00:00",
            value: "02:00"
          },
          {
            key: "02:30:00",
            value: "02:30"
          },
          {
            key: "03:00:00",
            value: "03:00"
          },
          {
            key: "03:30:00",
            value: "03:30"
          },
          {
            key: "04:00:00",
            value: "04:00"
          },
          {
            key: "04:30:00",
            value: "04:30"
          },
          {
            key: "05:00:00",
            value: "05:00"
          },
          {
            key: "05:30:00",
            value: "05:30"
          },
          {
            key: "06:00:00",
            value: "06:00"
          },
          {
            key: "06:30:00",
            value: "06:30"
          },
          {
            key: "07:00:00",
            value: "07:00"
          },
          {
            key: "07:30:00",
            value: "07:30"
          },
          {
            key: "08:00:00",
            value: "08:00"
          },
          {
            key: "08:30:00",
            value: "08:30"
          },
          {
            key: "09:00:00",
            value: "09:00"
          },
          {
            key: "09:30:00",
            value: "09:30"
          },
          {
            key: "10:00:00",
            value: "10:00"
          },
          {
            key: "10:30:00",
            value: "10:30"
          },
          {
            key: "11:00:00",
            value: "11:00"
          },
          {
            key: "11:30:00",
            value: "11:30"
          },
          {
            key: "12:00:00",
            value: "12:00"
          },
          {
            key: "12:30:00",
            value: "12:30"
          },
          {
            key: "13:00:00",
            value: "13:00"
          },
          {
            key: "13:30:00",
            value: "13:30"
          },
          {
            key: "14:00:00",
            value: "14:00"
          },
          {
            key: "14:30:00",
            value: "14:30"
          },
          {
            key: "15:00:00",
            value: "15:00"
          },
          {
            key: "15:30:00",
            value: "15:30"
          },
          {
            key: "16:00:00",
            value: "16:00"
          },
          {
            key: "16:30:00",
            value: "16:30"
          },
          {
            key: "17:00:00",
            value: "17:00"
          },
          {
            key: "17:30:00",
            value: "17:30"
          },
          {
            key: "18:00:00",
            value: "18:00"
          },
          {
            key: "18:30:00",
            value: "18:30"
          },
          {
            key: "19:00:00",
            value: "19:00"
          },
          {
            key: "19:30:00",
            value: "19:30"
          },
          {
            key: "20:00:00",
            value: "20:00"
          },
          {
            key: "20:30:00",
            value: "20:30"
          },
          {
            key: "21:00:00",
            value: "21:00"
          },
          {
            key: "21:30:00",
            value: "21:30"
          },
          {
            key: "22:00:00",
            value: "22:00"
          },
          {
            key: "22:30:00",
            value: "22:30"
          },
          {
            key: "23:00:00",
            value: "23:00"
          },
          {
            key: "23:30:00",
            value: "23:30"
          }
        ]
      },
      worker_id: "",
      date: new Date(),
      start: "00:00:00",
      end: "00:00:00",
      error: {
        is: {
          date: false,
          start: false,
          end: false
        },
        msg: {
          date: "",
          start: "",
          end: ""
        }
      },
      reRenderWorkers: true
    };
  },
  methods: {
    setSelectedVal(d) {
      if (d.key == "start") this.start = d.value;
      else if (d.key == "end") this.end = d.value;
      else if (d.key == "workers") this.worker_id = d.value;
    },
    async editLeaveDay() {
      let data = {
        date: this.date,
        start: this.start,
        end: this.end
      };
      let updateLeavesDay =
        this.$base_url +
        "/api/users/" +
        this.$user_id +
        "/workers/" +
        this.worker_id +
        "/leaves/" +
        this.$route.params.id;
      this.error.is.date = false;
      this.error.is.start = false;
      this.error.is.end = false;
      let errors = {};
      let response = await this.$getData("put", updateLeavesDay, data);

      if (!response.success && response.message == "Validation Error.") {
        for (const key of Object.keys(response.data)) {
          errors[key] = response.data[key];
        }
        if (errors.date) {
          this.error.is.date = true;
          this.error.msg.date = errors.date[0];
        }
        if (errors.start) {
          this.error.is.start = true;
          this.error.msg.start = errors.start[0];
        }
        if (errors.end) {
          this.error.is.end = true;
          this.error.msg.end = errors.end[0];
        }
      } else if (
        !response.success &&
        response.message == "Must need to change any data to update"
      ) {
        errors["msg"] = response.message;
        this.$toast.error(response.message, {
          duration: 5000,
          dismissible: true
        });
      }

      if (Object.keys(errors).length == 0) {
        this.$toast.success(response.message, {
          duration: 5000,
          dismissible: true
        });

        this.$router.push({
          name: "schedulesCalendar.leaveDay",
          query: { worker: this.worker_id }
        });
      }
      // console.log(this.form);
    },
    hideOption(d) {
      this.$emit("updateTroggleOption", d);
    },
    reRenderWorkersI() {
      this.reRenderWorkers = false;
      this.$nextTick(() => {
        this.reRenderWorkers = true;
      });
    }
  },
  created() {},
  async mounted() {
    let self = this;
    let getWorkersUrl =
      this.$base_url + "/api/users/" + this.$user_id + "/workers";
    let workers = await this.$getData("get", getWorkersUrl);

    this.workers.items = workers.data.map(item => {
      return {
        key: item.id,
        value: item.name + " (" + item.surname + ")"
      };
    });
    this.worker_id = this.$route.query.worker;
    if (this.worker_id) {
      let modifiedSV = this.workers.items.filter(function(item) {
        if (item.key == self.$route.query.worker) {
          return item;
        }
      });
      this.workers.selected.value = modifiedSV[0].value;
    }
    this.reRenderWorkersI();
    let getLeaveByIdUrl =
      this.$base_url +
      "/api/users/" +
      this.$user_id +
      "/workers/" +
      this.worker_id +
      "/leaves/" +
      this.$route.params.id;
    let singleLeaveDay = await this.$getData("get", getLeaveByIdUrl);
    if (singleLeaveDay.success) {
      this.date = new Date(singleLeaveDay.data.date);
      this.start = singleLeaveDay.data.start;
      this.startd.selected.value = singleLeaveDay.data.start.slice(0, -3);
      this.end = singleLeaveDay.data.end;
      this.endd.selected.value = singleLeaveDay.data.end.slice(0, -3);
    }
  }
};
</script>

<style></style>
