<template>
  <div>
    <section class="form-sec sec-pad">
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="admin-cnt">
            <div class="cnt-tlt">Edit type</div>
            <div class="form">
              <form @submit.prevent="editType">
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <SingleSrcSelect
                      :sBox="services.sBox"
                      @hideOption="hideOption"
                      :label="services.label"
                      :selected="services.selected"
                      :items="services.items"
                      :disabled="true"
                      v-if="reRenderServices"
                    />
                    <!-- <div v-if="error.is.service_id" class="text-danger m-t-m-10">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      {{ error.msg.service_id }}
                    </div>-->
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Name:</label>
                      <input v-model="name" type="text" name="name" class="form-control" />
                    </div>
                    <div v-if="error.is.name" class="text-danger m-t-m-10">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      {{ error.msg.name }}
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label>Price:</label>
                      <div class="input-group ctm-input-group">
                        <span>&euro;</span>
                        <input
                          v-model="price"
                          type="number"
                          name="price"
                          class="form-control"
                          step="any"
                        />
                      </div>
                    </div>
                    <div v-if="error.is.price" class="text-danger m-t-m-10">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      {{ error.msg.price }}
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <SingleSrcSelect
                      :sBox="duration.sBox"
                      @hideOption="hideOption"
                      :label="duration.label"
                      :selected="duration.selected"
                      :items="duration.items"
                      @setSelectedVal="setSelectedVal($event)"
                      :disabled="false"
                    />
                    <div v-if="error.is.time" class="text-danger m-t-m-10">
                      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                      {{ error.msg.time }}
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn ctm-btn float-right" type="submit">Update</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import SingleSrcSelect from "./selectOption/SingleSrcSelect.vue";
export default {
  components: {
    SingleSrcSelect
  },
  data() {
    return {
      services: {
        sBox: "editTypeServices",
        label: "Services",
        selected: {
          value: "Select Service"
        },
        items: []
      },
      duration: {
        sBox: "editTypeDuration",
        label: "Duration",
        selected: {
          value: "Select Duration"
        },
        items: [
          {
            key: 30,
            value: "30min"
          },
          {
            key: 60,
            value: "1h"
          },
          {
            key: 90,
            value: "1h 30min"
          },
          {
            key: 120,
            value: "2h"
          },
          {
            key: 150,
            value: "2h 30min"
          },
          {
            key: 180,
            value: "3h"
          },
          {
            key: 210,
            value: "3h 30min"
          },
          {
            key: 240,
            value: "4h"
          },
          {
            key: 270,
            value: "4h 30min"
          },
          {
            key: 300,
            value: "5h"
          },
          {
            key: 330,
            value: "5h 30min"
          },
          {
            key: 360,
            value: "6h"
          },
          {
            key: 390,
            value: "6h 30min"
          },
          {
            key: 420,
            value: "7h"
          },
          {
            key: 450,
            value: "7h 30min"
          },
          {
            key: 480,
            value: "8h"
          },
          {
            key: 540,
            value: "9h"
          },
          {
            key: 600,
            value: "10h"
          },
          {
            key: 660,
            value: "11h"
          },
          {
            key: 720,
            value: "12h"
          }
        ]
      },
      service_id: "",
      name: "",
      price: "",
      time: "",
      reRenderServices: true,
      error: {
        is: {
          name: false,
          price: false,
          time: false
        },
        msg: {
          name: "",
          price: "",
          time: ""
        }
      }
    };
  },
  methods: {
    setSelectedVal(d) {
      if (d.key == "editTypeServices") this.service_id = d.value;
      else if (d.key == "editTypeDuration") this.time = d.value;
    },
    async editType() {
      let data = {
        name: this.name,
        price: this.price,
        time: this.time
      };
      let updateServicesTypeUrl =
        this.$base_url +
        "/api/services/" +
        this.service_id +
        "/types/" +
        this.$route.params.id;
      this.error.is.name = false;
      this.error.is.price = false;
      this.error.is.time = false;
      let response = await this.$getData("put", updateServicesTypeUrl, data);
      let errors = {};
      if (!response.success && response.message == "Validation Error.") {
        for (const key of Object.keys(response.data)) {
          errors[key] = response.data[key];
        }
        if (errors.name) {
          this.error.is.name = true;
          this.error.msg.name = errors.name[0];
        }
        if (errors.price) {
          this.error.is.price = true;
          this.error.msg.price = errors.price[0];
        }
        if (errors.time) {
          this.error.is.time = true;
          this.error.msg.time = errors.time[0];
        }
      } else if (
        !response.success &&
        response.message == "Must need to change any value to update"
      ) {
        errors["msg"] = response.message;
        this.$toast.error(response.message, {
          duration: 5000,
          dismissible: true
        });
      }
      // console.log(Object.keys(errors).length);
      if (Object.keys(errors).length == 0) {
        this.$toast.success(response.message, {
          duration: 5000,
          dismissible: true
        });

        this.$router.push({
          name: "typeCalendar",
          query: { service: this.service_id }
        });
      }
    },
    hideOption(d) {
      this.$emit("updateTroggleOption", d);
    },
    reRenderServicesI() {
      this.reRenderServices = false;
      this.$nextTick(() => {
        this.reRenderServices = true;
      });
    }
  },
  created() {},
  async mounted() {
    let self = this;
    let getServicesUrl = this.$base_url + "/api/services/" + this.$user_id;
    let services = await this.$getData("get", getServicesUrl);

    this.services.items = services.data.map(item => {
      return {
        key: item.id,
        value: item.title
      };
    });
    this.service_id = this.$route.query.service;
    if (this.service_id) {
      let modifiedSV = this.services.items.filter(function(item) {
        if (item.key == self.$route.query.service) {
          return item;
        }
      });
      this.services.selected.value = modifiedSV[0].value;
    }
    this.reRenderServicesI();
    let gettypeByIdUrl =
      this.$base_url +
      "/api/services/" +
      this.service_id +
      "/types/" +
      this.$route.params.id;
    let singleType = await this.$getData("get", gettypeByIdUrl);
    if (singleType.success) {
      this.name = singleType.data.name;
      this.price = singleType.data.price;
      this.time = singleType.data.time;

      let hours, minutes;
      if (Math.floor(this.time / 60) > 0) {
        hours = Math.floor(this.time / 60) + "h";
      } else {
        hours = "";
      }
      if (this.time % 60 > 0) {
        if (hours.length != 0) {
          hours += " ";
        }
        minutes = (this.time % 60) + "min";
      } else {
        minutes = "";
      }
      this.duration.selected.value = hours + minutes;
    }
  }
};
</script>

<style></style>
