<template>
  <div class="col-12">
    <div class="row">
      <div class="col-12 col-sm-6">
        <SingleSrcSelect
          :sBox="workers.sBox"
          @hideOption="hideOption"
          :label="workers.label"
          :selected="workers.selected"
          :name="workers.name"
          :items.sync="workers.items"
          :disabled="false"
          @setSelectedVal="setSelectedVal($event)"
          v-if="reRenderWorkers"
        />
      </div>
      <div class="col-12 col-sm-12">
        <div class="admin-cnt">
          <div class="cnt-tlt">
            Leave Day
            <router-link
              :to="{ name: 'schedulesCalendar.addLeaveDay' }"
              class="btn add-btn psn-ab-tr-015"
            >Add Leave Day</router-link>
          </div>
          <div class="table-responsive">
            <v-client-table :data="tableData" :columns="columns" :options="options">
              <div slot="action" slot-scope="{ row }">
                <router-link
                  :to="{
                      name: 'schedulesCalendar.editLeaveDay',
                      params: { id: item_ids[row.si - 1] },
                      query: { worker: worker_id }
                      }"
                  class="btn edit-btn"
                >
                  <i class="far fa-edit"></i>
                </router-link>
                <button
                  class="btn del-btn warning"
                  @click=" deleteRow(item_values[row.si - 1], item_ids[row.si - 1], row.si)"
                >
                  <i class="far fa-trash-alt"></i>
                </button>
              </div>
            </v-client-table>
          </div>
        </div>
      </div>
      <transition name="appear">
        <ConfirmDeleteModal
          :data="selectedDData"
          v-if="confirmModal"
          @confirm="deleteUser($event)"
          @cancel="cancelDelete"
        />
      </transition>
    </div>
  </div>
</template>

<script>
import SingleSrcSelect from "./selectOption/SingleSrcSelect.vue";
import ConfirmDeleteModal from "./modal/ConfirmDeleteModal.vue";
export default {
  components: {
    ConfirmDeleteModal,
    SingleSrcSelect
  },
  data() {
    return {
      columns: ["si", "date", "start", "end", "action"],
      tableData: [],
      options: {
        sortIcon: {
          is: "fa-arrows-alt-v",
          base: "fas",
          up: "fa-long-arrow-alt-up",
          down: "fa-long-arrow-alt-down"
        },
        sortable: ["si", "date", "start", "end"],
        filterable: ["date", "start", "end"]
      },
      confirmModal: false,
      selectedDData: null,
      workers: {
        sBox: "workers",
        label: "Worker",
        name: "worker_id",
        selected: {
          value: "Select Worker",
          id: ""
        },
        items: []
      },
      item_ids: [],
      item_values: [],
      worker_id: null,
      reRenderWorkers: true
    };
  },
  methods: {
    async setSelectedVal(d) {
      if (d.key == "workers") this.worker_id = d.value;
      let getLeavesUrl =
        this.$base_url +
        "/api/users/" +
        this.$user_id +
        "/workers/" +
        this.worker_id +
        "/leaves";
      let leaves = await this.$getData("get", getLeavesUrl);
      this.setTableData(leaves);
    },
    deleteRow(val, id, rowid) {
      this.selectedDData = {
        rowid: rowid,
        id: id,
        value: val
      };
      this.confirmModal = true;
    },
    cancelDelete() {
      this.confirmModal = false;
      this.selectedDData = null;
    },
    async deleteUser(data) {
      this.confirmModal = false;
      this.selectedDData = null;

      let deleteLeaveUrl =
        this.$base_url +
        "/api/users/" +
        this.$user_id +
        "/workers/" +
        this.worker_id +
        "/leaves/" +
        data.id;
      let deleteLeaveD = await this.$getData("delete", deleteLeaveUrl);
      //   console.log(deleteLeaveD);
      if (deleteLeaveD.success) {
        this.tableData = this.tableData.filter(function(item) {
          if (item.si != data.rowid) {
            return item;
          }
        });
      }
    },
    hideOption(d) {
      this.$emit("updateTroggleOption", d);
    },
    reRenderWorkersI() {
      this.reRenderWorkers = false;
      this.$nextTick(() => {
        this.reRenderWorkers = true;
      });
    },
    setTableData(leaves) {
      let self = this;
      this.item_ids = [];
      this.item_values = [];
      let i = 1;
      if (leaves.success) {
        this.tableData = leaves.data.map(item => {
          this.item_ids.push(item.id);
          this.item_values.push(item.date);
          return {
            si: i++,
            date: item.date,
            start: item.start,
            end: item.end
          };
        });
      } else {
        this.$toast.error(leaves.message, {
          duration: 5000,
          dismissible: true
        });
      }
    }
  },
  created() {},
  async mounted() {
    let self = this;
    let getWorkersUrl =
      this.$base_url + "/api/users/" + this.$user_id + "/workers";
    let workers = await this.$getData("get", getWorkersUrl);
    if (workers.success) {
      this.workers.items = workers.data.map(item => {
        return {
          key: item.id,
          value: item.name + " ( " + item.surname + " )"
        };
      });
    } else {
      this.$toast.error(workers.message, {
        duration: 5000,
        dismissible: true
      });
    }
    if (this.$route.query.worker) {
      let modifiedSV = this.workers.items.filter(function(item) {
        if (item.key == self.$route.query.worker) {
          return item;
        }
      });
      this.workers.selected.value = modifiedSV[0].value;
    } else this.workers.selected.value = this.workers.items[0].value;
    this.reRenderWorkersI();
    if (this.$route.query.worker) this.worker_id = this.$route.query.worker;
    else this.worker_id = this.workers.items[0].key;
    let getLeavesUrl =
      this.$base_url +
      "/api/users/" +
      this.$user_id +
      "/workers/" +
      this.worker_id +
      "/leaves";

    let leaves = await this.$getData("get", getLeavesUrl);
    this.setTableData(leaves);
  }
};
</script>

<style></style>
