<template>
  <div>
    <section class="form-sec sec-pad listing">
      <div class="row">
        <div class="col-12 col-sm-12">
          <ul class="secondary-menu float-right">
            <li>
              <router-link :to="{ name: 'listingCalendar.calendarView' }">Calendar View</router-link>
            </li>
            <li>
              <router-link :to="{ name: 'listingCalendar.listView' }">List View</router-link>
            </li>
          </ul>
        </div>
        <router-view name="listing" />
      </div>
    </section>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
