<template>
  <div class="col-12">
    <div class="row">
      <div class="col-12 col-sm-6">
        <SingleSrcSelect
          :sBox="services.sBox"
          @hideOption="hideOption"
          :label="services.label"
          :selected="services.selected"
          :name="services.name"
          :items.sync="services.items"
          :disabled="false"
          @setSelectedVal="setSelectedVal($event)"
          v-if="reRenderServices"
        />
      </div>
      <div class="col-12 col-sm-6">
        <SingleSrcSelect
          :sBox="types.sBox"
          @hideOption="hideOption"
          :label="types.label"
          :selected="types.selected"
          :name="types.name"
          :items.sync="types.items"
          :disabled="false"
          @setSelectedVal="setSelectedVal($event)"
          v-if="reRenderTypes"
        />
      </div>
      <div class="col-12 col-sm-12">
        <div class="admin-cnt">
          <div class="cnt-tlt">List View</div>
          <div class="table-responsive">
            <v-client-table :data="tableData" :columns="columns" :options="options">
              <div slot="action" slot-scope="{ row }">
                <button class="btn del-btn warning" v-if="cancledA[row.si - 1]" disabled>Cancled</button>
                <button
                  class="btn del-btn warning"
                  @click="cancled(item_values[row.si - 1], item_ids[row.si - 1], row.si)"
                  v-else
                >Cancle</button>
                <button
                  class="btn edit-btn warning"
                  v-if="cancledA[row.si - 1] == 0 && confirmedA[row.si - 1] == 0"
                  @click="confirmed(item_values[row.si - 1], item_ids[row.si - 1], row.si)"
                >Pending</button>
                <template v-else>
                  <button
                    class="btn add-btn warning"
                    v-if="confirmedA[row.si - 1]"
                    disabled
                  >Confirmed</button>
                  <button
                    class="btn add-btn warning"
                    @click="confirmed(item_values[row.si - 1], item_ids[row.si - 1], row.si)"
                    v-else
                  >Confirm</button>
                </template>
              </div>
            </v-client-table>
          </div>
        </div>
      </div>
    </div>
    <transition name="appear">
      <ConfirmCancledModal
        :data="selectedData"
        v-if="cancledModal"
        @confirm="cancledBooking($event)"
        @cancel="cancelCancled"
      />
    </transition>
    <transition name="appear">
      <ConfirmModal
        :data="selectedData"
        v-if="confirmedModal"
        @confirm="confirmedBooking($event)"
        @cancel="cancelConfirmed"
      />
    </transition>
  </div>
</template>

<script>
import SingleSrcSelect from "./selectOption/SingleSrcSelect.vue";
import ConfirmCancledModal from "./modal/ConfirmCancledModal.vue";
import ConfirmModal from "./modal/ConfirmModal.vue";
export default {
  components: {
    SingleSrcSelect,
    ConfirmCancledModal,
    ConfirmModal
  },
  data() {
    return {
      types: {
        sBox: "types",
        label: "Types",
        name: "type_id",
        selected: {
          value: "Select Type",
          id: ""
        },
        items: []
      },
      typeData: null,
      type_id: 0,
      reRenderTypes: true,
      services: {
        sBox: "services",
        label: "Services",
        name: "service_id",
        selected: {
          value: "Select Service",
          id: ""
        },
        items: []
      },
      service_id: null,
      reRenderServices: true,
      columns: ["si", "client_name", "worker_name", "date", "time", "action"],
      tableData: [],
      options: {
        sortIcon: {
          is: "fa-arrows-alt-v",
          base: "fas",
          up: "fa-long-arrow-alt-up",
          down: "fa-long-arrow-alt-down"
        },
        sortable: ["si", "client_name", "worker_name", "date", "time"],
        filterable: ["client_name", "worker_name", "date", "time"]
      },
      item_ids: [],
      item_values: [],
      cancledA: [],
      confirmedA: [],
      selectedData: null,
      cancledModal: false,
      confirmedModal: false
    };
  },
  methods: {
    hideOption(d) {
      this.$emit("updateTroggleOption", d);
    },
    reRenderTypesI() {
      this.reRenderTypes = false;
      this.$nextTick(() => {
        this.reRenderTypes = true;
      });
    },
    async setSelectedVal(d) {
      if (d.key == "types") {
        this.type_id = d.value;
      } else if (d.key == "services") {
        this.service_id = d.value;
        let getTypesUrl =
          this.$base_url + "/api/services/" + this.service_id + "/types";

        let types = await this.$getData("get", getTypesUrl);

        this.typeData = types.data;
        if (types.success) {
          this.types.items = types.data.map(item => {
            return {
              key: item.id,
              value: item.name
            };
          });
          this.types.selected.value = this.types.items[0].value;
          this.types.selected.id = this.types.items[0].key;
          // console.log(this.types.selected.value);
          this.type_id = this.types.items[0].key;
          this.calStep = this.typeData[0].time;
        } else {
          this.$toast.error(types.message, {
            duration: 5000,
            dismissible: true
          });
        }
        this.reRenderTypesI();
      }
      let getBookingUrl =
        this.$base_url +
        "/api/services/" +
        this.service_id +
        "/types/" +
        this.type_id +
        "/getbooking";

      let booking = await this.$getData("get", getBookingUrl);
      this.setTableData(booking);
    },
    reRenderServicesI() {
      this.reRenderServices = false;
      this.$nextTick(() => {
        this.reRenderServices = true;
      });
    },
    setTableData(booking) {
      let self = this;
      this.item_ids = [];
      this.item_values = [];
      this.cancledA = [];
      this.confirmedA = [];
      let i = 1;
      if (booking.success) {
        this.tableData = booking.data.map(item => {
          this.item_ids.push(item.id);
          this.cancledA.push(item.cancle);
          this.confirmedA.push(item.confirm);
          this.item_values.push(
            item.date +
              " ( " +
              item.start +
              " - " +
              item.end +
              " )<br /><small class='f-s-14'>for worker</small> " +
              item.worker.name
          );
          return {
            si: i++,
            client_name: item.user.name,
            worker_name: item.worker.name,
            date: item.date,
            time: item.start + " - " + item.end
          };
        });
      } else {
        this.$toast.error(booking.message, {
          duration: 5000,
          dismissible: true
        });
      }
    },
    cancled(val, id, rowid) {
      this.selectedData = {
        rowid: rowid,
        id: id,
        value: val
      };
      this.cancledModal = true;
    },
    confirmed(val, id, rowid) {
      this.selectedData = {
        rowid: rowid,
        id: id,
        value: val
      };
      this.confirmedModal = true;
    },
    cancelCancled() {
      this.cancledModal = false;
      this.selectedData = null;
    },
    cancelConfirmed() {
      this.confirmedModal = false;
      this.selectedData = null;
    },
    async cancledBooking(d) {
      this.cancledModal = false;
      let cancleBookingUrl =
        this.$base_url +
        "/api/services/" +
        this.service_id +
        "/types/" +
        this.type_id +
        "/bookings/" +
        d.id +
        "/cancle";

      let booking = await this.$getData("get", cancleBookingUrl);
      // console.log(booking);
      this.setTableData(booking);
    },
    async confirmedBooking(d) {
      this.confirmedModal = false;
      let confirmBookingUrl =
        this.$base_url +
        "/api/services/" +
        this.service_id +
        "/types/" +
        this.type_id +
        "/bookings/" +
        d.id +
        "/confirm";

      let booking = await this.$getData("get", confirmBookingUrl);
      // console.log(booking);
      this.setTableData(booking);
    }
  },
  created() {
    window.addEventListener("click", this.documentClick);
  },
  async mounted() {
    let self = this;
    let getServicesUrl = this.$base_url + "/api/services/" + this.$user_id;
    let services = await this.$getData("get", getServicesUrl);

    if (services.success) {
      this.services.items = services.data.map(item => {
        return {
          key: item.id,
          value: item.title
        };
      });
      this.services.selected.value = this.services.items[0].value;
      this.reRenderServicesI();
      this.service_id = this.services.items[0].key;
      let getTypesUrl =
        this.$base_url + "/api/services/" + this.service_id + "/types";

      let types = await this.$getData("get", getTypesUrl);

      this.typeData = types.data;
      if (types.success) {
        this.types.items = types.data.map(item => {
          return {
            key: item.id,
            value: item.name
          };
        });
        this.types.selected.value = this.types.items[0].value;
        this.types.selected.id = this.types.items[0].key;
        // console.log(this.types.selected.value);
        this.type_id = this.types.items[0].key;
        this.calStep = this.typeData[0].time;
        this.reRenderTypesI();

        let getBookingUrl =
          this.$base_url +
          "/api/services/" +
          this.service_id +
          "/types/" +
          this.type_id +
          "/getbooking";

        let booking = await this.$getData("get", getBookingUrl);
        this.setTableData(booking);
      } else {
        this.$toast.error(types.message, {
          duration: 5000,
          dismissible: true
        });
      }
    } else {
      this.$toast.error(services.message, {
        duration: 5000,
        dismissible: true
      });
    }
  }
};
</script>

<style>
</style>