<template>
  <div>
    <section class="form-sec sec-pad schedule">
      <div class="row">
        <div class="col-12 col-sm-12">
          <ul class="secondary-menu float-right">
            <li>
              <router-link :to="{ name: 'schedulesCalendar.workingDay' }">Working Day</router-link>
            </li>
            <li>
              <router-link :to="{ name: 'schedulesCalendar.leaveDay' }">Leave Day</router-link>
            </li>
          </ul>
        </div>
        <router-view name="schedules" />
      </div>
    </section>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
