<template>
    <div>
        <section class="form-sec sec-pad type">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <SingleSrcSelect
                        :sBox="services.sBox"
                        @hideOption="hideOption"
                        :label="services.label"
                        :selected="services.selected"
                        :name="services.name"
                        :items.sync="services.items"
                        :disabled="false"
                        @setSelectedVal="setSelectedVal($event)"
                        v-if="reRenderServices"
                    />
                </div>
                <div class="col-12 col-sm-12">
                    <div class="admin-cnt">
                        <div class="cnt-tlt">
                            category
                            <router-link
                                :to="{ name: 'addTypeCalendar' }"
                                class="btn add-btn psn-ab-tr-015"
                                >Add Type</router-link
                            >
                        </div>
                        <div class="table-responsive">
                            <v-client-table
                                :data="tableData"
                                :columns="columns"
                                :options="options"
                            >
                                <div slot="action" slot-scope="{ row }">
                                    <router-link
                                        :to="{
                                            name: 'editTypeCalendar',
                                            params: {
                                                id: item_ids[row.si - 1]
                                            },
                                            query: { service: service_id }
                                        }"
                                        class="btn edit-btn"
                                    >
                                        <i class="far fa-edit"></i>
                                    </router-link>
                                    <router-link
                                        :to="{
                                            name: 'addTypeWorkerCalendar',
                                            params: {
                                                id: item_ids[row.si - 1]
                                            },
                                            query: { service: service_id }
                                        }"
                                        class="btn add-btn"
                                    >
                                        <i class="far fa-user"></i>
                                    </router-link>
                                    <button
                                        class="btn del-btn warning"
                                        @click="
                                            deleteRow(
                                                item_values[row.si - 1],
                                                item_ids[row.si - 1],
                                                row.si
                                            )
                                        "
                                    >
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </div>
                            </v-client-table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <transition name="appear">
            <ConfirmDeleteModal
                :data="selectedDData"
                v-if="confirmModal"
                @confirm="deleteUser($event)"
                @cancel="cancelDelete"
            />
        </transition>
    </div>
</template>

<script>
import SingleSrcSelect from "./selectOption/SingleSrcSelect.vue";
import ConfirmDeleteModal from "./modal/ConfirmDeleteModal.vue";
export default {
    components: {
        ConfirmDeleteModal,
        SingleSrcSelect
    },
    data() {
        return {
            columns: ["si", "name", "price", "time", "action"],
            tableData: [],
            options: {
                sortIcon: {
                    is: "fa-arrows-alt-v",
                    base: "fas",
                    up: "fa-long-arrow-alt-up",
                    down: "fa-long-arrow-alt-down"
                },
                sortable: ["si", "name", "price", "time"],
                filterable: ["name", "price", "time"]
            },
            confirmModal: false,
            selectedDData: null,
            services: {
                sBox: "typeServices",
                label: "Services",
                name: "service_id",
                selected: {
                    value: "Select Service",
                    id: ""
                },
                items: []
            },
            item_ids: [],
            item_values: [],
            service_id: null,
            reRenderServices: true
        };
    },
    methods: {
        async setSelectedVal(d) {
            if (d.key == "typeServices") {
                this.service_id = d.value;
                let getTypesUrl =
                    this.$base_url +
                    "/api/services/" +
                    this.service_id +
                    "/types";
                let types = await this.$getData("get", getTypesUrl);
                this.setTableData(types);
            }
        },
        deleteRow(val, id, rowid) {
            this.selectedDData = {
                rowid: rowid,
                id: id,
                value: val
            };
            this.confirmModal = true;
        },
        cancelDelete() {
            this.confirmModal = false;
            this.selectedDData = null;
        },
        async deleteUser(data) {
            this.confirmModal = false;
            this.selectedDData = null;

            let deleteTypeUrl =
                this.$base_url +
                "/api/services/" +
                this.service_id +
                "/types/" +
                data.id;
            let deleteTypeD = await this.$getData("delete", deleteTypeUrl);

            if (deleteTypeD.success) {
                this.tableData = this.tableData.filter(function(item) {
                    if (item.si != data.rowid) {
                        return item;
                    }
                });
            }
        },
        hideOption(d) {
            this.$emit("updateTroggleOption", d);
        },
        reRenderServicesI() {
            this.reRenderServices = false;
            this.$nextTick(() => {
                this.reRenderServices = true;
            });
        },
        setTableData(types) {
            let self = this;
            this.item_ids = [];
            this.item_values = [];
            let i = 1;
            let hours, minutes;
            if (types.success) {
                this.tableData = types.data.map(item => {
                    this.item_ids.push(item.id);
                    this.item_values.push(item.name);
                    if (Math.floor(item.time / 60) > 0) {
                        hours = Math.floor(item.time / 60) + "h";
                    } else {
                        hours = "";
                    }
                    if (item.time % 60 > 0) {
                        if (hours.length != 0) {
                            hours += " ";
                        }
                        minutes = (item.time % 60) + "min";
                    } else {
                        minutes = "";
                    }
                    return {
                        si: i++,
                        name: item.name,
                        price: item.price,
                        time: hours + minutes
                    };
                });
            } else {
                this.tableData = [];
                this.$toast.error(types.message, {
                    duration: 5000,
                    dismissible: true
                });
            }
        }
    },
    created() {},
    async mounted() {
        let self = this;
        let getServicesUrl = this.$base_url + "/api/services/" + this.$user_id;
        let services = await this.$getData("get", getServicesUrl);

        if (services.success) {
            this.services.items = services.data.map(item => {
                return {
                    key: item.id,
                    value: item.title
                };
            });
            if (this.$route.query.service) {
                let modifiedSV = this.services.items.filter(function(item) {
                    if (item.key == self.$route.query.service) {
                        return item;
                    }
                });
                this.services.selected.value = modifiedSV[0].value;
            } else this.services.selected.value = this.services.items[0].value;
            this.reRenderServicesI();
            if (this.$route.query.service)
                this.service_id = this.$route.query.service;
            else this.service_id = this.services.items[0].key;
            let getTypesUrl =
                this.$base_url + "/api/services/" + this.service_id + "/types";

            let types = await this.$getData("get", getTypesUrl);

            this.setTableData(types);
        } else {
            this.$toast.error(services.message, {
                duration: 5000,
                dismissible: true
            });
        }
    }
};
</script>

<style></style>
