<template>
  <div>
    <section class="form-sec sec-pad worker">
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="admin-cnt">
            <div class="cnt-tlt">
              category
              <router-link
                :to="{ name: 'addWorkerCalendar' }"
                class="btn add-btn psn-ab-tr-015"
              >Add Worker</router-link>
            </div>
            <div class="table-responsive">
              <v-client-table :data="tableData" :columns="columns" :options="options">
                <div slot="action" slot-scope="{ row }">
                  <router-link
                    :to="{
                            name: 'editWorkerCalendar',
                            params: { id: item_ids[row.si - 1] }
                        }"
                    class="btn edit-btn"
                  >
                    <i class="far fa-edit"></i>
                  </router-link>
                  <button
                    class="btn del-btn warning"
                    @click="
                              deleteRow(
                                  item_values[row.si - 1],
                                  item_ids[row.si - 1],
                                  row.si
                              )
                          "
                  >
                    <i class="far fa-trash-alt"></i>
                  </button>
                </div>
              </v-client-table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <transition name="appear">
      <ConfirmDeleteModal
        :data="selectedDData"
        v-if="confirmModal"
        @confirm="deleteUser($event)"
        @cancel="cancelDelete"
      />
    </transition>
  </div>
</template>

<script>
import ConfirmDeleteModal from "./modal/ConfirmDeleteModal.vue";
export default {
  components: {
    ConfirmDeleteModal
  },
  data() {
    return {
      columns: ["si", "name", "email", "phone", "action"],
      tableData: [],
      options: {
        sortIcon: {
          is: "fa-arrows-alt-v",
          base: "fas",
          up: "fa-long-arrow-alt-up",
          down: "fa-long-arrow-alt-down"
        },
        sortable: ["si", "name", "email", "phone"],
        filterable: ["name", "email", "phone"]
      },
      confirmModal: false,
      selectedDData: null,
      item_ids: [],
      item_values: []
    };
  },
  methods: {
    deleteRow(val, id, rowid) {
      this.selectedDData = {
        rowid: rowid,
        id: id,
        value: val
      };
      this.confirmModal = true;
    },
    cancelDelete() {
      this.confirmModal = false;
      this.selectedDData = null;
    },
    async deleteUser(data) {
      this.confirmModal = false;
      this.selectedDData = null;

      let deleteTypeUrl =
        this.$base_url + "/api/users/" + this.$user_id + "/workers/" + data.id;
      let deleteTypeD = await this.$getData("delete", deleteTypeUrl);
      // console.log(deleteTypeD);
      if (deleteTypeD.success) {
        this.tableData = this.tableData.filter(function(item) {
          if (item.si != data.rowid) {
            return item;
          }
        });
      }
    },
    setTableData(items) {
      let self = this;
      this.item_ids = [];
      this.item_values = [];
      let i = 1;
      if (items.success) {
        this.tableData = items.data.map(item => {
          this.item_ids.push(item.id);
          this.item_values.push(item.name);
          return {
            si: i++,
            name: item.name + " ( " + item.surname + " )",
            email: item.email,
            phone: item.phone
          };
        });
      } else {
        this.tableData = [];
        this.$toast.error(items.message, {
          duration: 5000,
          dismissible: true
        });
      }
    }
  },
  created() {},
  async mounted() {
    let getWorkersUrl =
      this.$base_url + "/api/users/" + this.$user_id + "/workers";

    let workers = await this.$getData("get", getWorkersUrl);

    this.setTableData(workers);
  }
};
</script>

<style></style>
