// breakpoint mixin
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
    @if $mq2 == false {
        @media ($maxmin: $mq01) {
            @content;
        }
    } @else {
        @media (min-width: $mq01) and (max-width: $mq2) {
            @content;
        }
    }
} // breakpoint-h mixin
@mixin breakpoint-h($mq01: 0, $mq2: false, $maxmin: max-height) {
    @if $mq2 == false {
        @media ($maxmin: $mq01) {
            @content;
        }
    } @else {
        @media (min-height: $mq01) and (max-height: $mq2) {
            @content;
        }
    }
}

// responsive font size mixin
@mixin font-size-map($font-size-map) {
    @each $breakpoint, $font-size in $font-size-map {
        @if $breakpoint == null {
            font-size: $font-size;
        } @else {
            @include breakpoint($breakpoint) {
                font-size: $font-size;
            }
        }
    }
}
// responsive width mixin
@mixin width-p-map($width-p-map) {
    @each $breakpoint, $width-p in $width-p-map {
        @if $breakpoint == null {
            width: $width-p;
        } @else {
            @include breakpoint($breakpoint) {
                width: $width-p;
            }
        }
    }
}
// responsive height mixin
@mixin height-p-map($height-p-map) {
    @each $breakpoint, $height-p in $height-p-map {
        @if $breakpoint == null {
            height: $height-p;
        } @else {
            @include breakpoint($breakpoint) {
                height: $height-p;
            }
        }
    }
}
// responsive top mixin
@mixin top-p-map($top-p-map) {
    @each $breakpoint, $top-p in $top-p-map {
        @if $breakpoint == null {
            top: $top-p;
        } @else {
            @include breakpoint($breakpoint) {
                top: $top-p;
            }
        }
    }
}
// responsive right mixin
@mixin right-p-map($right-p-map) {
    @each $breakpoint, $right-p in $right-p-map {
        @if $breakpoint == null {
            right: $right-p;
        } @else {
            @include breakpoint($breakpoint) {
                right: $right-p;
            }
        }
    }
}
// responsive bottom mixin
@mixin bottom-p-map($bottom-p-map) {
    @each $breakpoint, $bottom-p in $bottom-p-map {
        @if $breakpoint == null {
            bottom: $bottom-p;
        } @else {
            @include breakpoint($breakpoint) {
                bottom: $bottom-p;
            }
        }
    }
}
// responsive left mixin
@mixin left-p-map($left-p-map) {
    @each $breakpoint, $left-p in $left-p-map {
        @if $breakpoint == null {
            left: $left-p;
        } @else {
            @include breakpoint($breakpoint) {
                left: $left-p;
            }
        }
    }
}
// responsive transform: translate() mixin
@mixin transform-translate-p-map($transform-translate-p-map) {
    @each $breakpoint, $transform-translate-p in $transform-translate-p-map {
        @if $breakpoint == null {
            transform: translate($transform-translate-p);
        } @else {
            @include breakpoint($breakpoint) {
                transform: translate($transform-translate-p);
            }
        }
    }
}
// responsive line-height mixin
@mixin line-height-p-map($line-height-p-map) {
    @each $breakpoint, $line-height-p in $line-height-p-map {
        @if $breakpoint == null {
            line-height: $line-height-p;
        } @else {
            @include breakpoint($breakpoint) {
                line-height: $line-height-p;
            }
        }
    }
}
// responsive padding mixin
@mixin padding-p-map($padding-p-map) {
    @each $breakpoint, $padding-p in $padding-p-map {
        @if $breakpoint == null {
            padding: $padding-p;
        } @else {
            @include breakpoint($breakpoint) {
                padding: $padding-p;
            }
        }
    }
}
// responsive font-size mixin
@mixin font-size-p-map($font-size-p-map) {
    @each $breakpoint, $font-size-p in $font-size-p-map {
        @if $breakpoint == null {
            font-size: $font-size-p;
        } @else {
            @include breakpoint($breakpoint) {
                font-size: $font-size-p;
            }
        }
    }
}
// responsive margin-top mixin for height
@mixin margin-top-p-map-h($margin-top-p-map) {
    @each $breakpoint, $margin-top-p in $margin-top-p-map {
        @if $breakpoint == null {
            margin-top: $margin-top-p;
        } @else {
            @include breakpoint-h($breakpoint) {
                margin-top: $margin-top-p;
            }
        }
    }
}
// responsive margin mixin for height
@mixin margin-p-map-h($margin-p-map) {
    @each $breakpoint, $margin-p in $margin-p-map {
        @if $breakpoint == null {
            margin: $margin-p;
        } @else {
            @include breakpoint-h($breakpoint) {
                margin: $margin-p;
            }
        }
    }
}
// responsive display mixin
@mixin display-p-map($display-p-map) {
    @each $breakpoint, $display-p in $display-p-map {
        @if $breakpoint == null {
            display: $display-p;
        } @else {
            @include breakpoint($breakpoint) {
                display: $display-p;
            }
        }
    }
}

//display
$selected-serv-client-display: (
    null: flex,
    800px: block
);

// font sizes

// height
$left-box-height: (
    null: 100%
);
$right-box-height: (
    null: 100%
);
$home-cnt-area-inr-box-height: (
    null: calc(100% - 100px),
    600px: (
        calc(100% - 80px)
    )
);

// widht
$left-box-width: (
    null: 63%,
    1400px: (
        calc(100% - 550px)
    ),
    500px: 0
);
$right-box-width: (
    null: 37%,
    1400px: 550px,
    500px: 100%
);
$home-cnt-area-inr-box-width: (
    null: 500px,
    600px: (
        calc(100% - 30px)
    )
);
$first-cnt-area-content-area-width: (
    null: auto,
    600px: 100%
);

// top
$home-cnt-area-inr-box-top: (
    null: 65px
);

// right
$home-cnt-area-inr-box-right: (
    600px: 0
);

// bottom

// left
$home-cnt-area-inr-box-left: (
    null: 50px,
    600px: 0
);

// transform: translate()

// line-height

// margin-top

// padding
$home-cnt-area-menu-box-li-padding: (
    null: (
        5px 25px
    ),
    360px: (
        5px 15px
    )
);

// font-size
$first-cnt-area-content-area-font-size: (
    null: 30px
);
