@import "base/_main";
body {
    background-color: map-get($theme-colors, "color_7");
    color: map-get($theme-colors, "color_2");
    font-family: $font_family_1;
    font-size: 15px;
    font-weight: 300;
}
.form-control:disabled,
.form-control[readonly] {
    background-color: #3f4348 !important;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a {
    color: map-get($theme-colors, "color_2");
}
a:hover {
    text-decoration: none;
    color: map-get($theme-colors, "color_4");
}
ul {
    padding: 0;
    margin: 0;
}
textarea {
    resize: none;
}
button:focus,
input:focus {
    box-shadow: none;
    outline: 0;
}
grammarly-extension._1KJtL {
    display: none;
}
.mar-0 {
    margin: 0 !important;
}
.pad-0 {
    padding: 0;
}
.pad-l-0 {
    padding-left: 0;
}
.pad-r-0 {
    padding-right: 0;
}
.p-l-10 {
    padding-left: 10px;
}
.mar-b-30 {
    margin-bottom: 30px;
}
.wth-100-p {
    width: 100%;
}
.wh-100 {
    @include dimension(100%, 100%);
}
.cover {
    @extend %cover-content;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e25b37;
}
.gallery {
    ul {
        .add-tab {
            position: relative;
            height: 41px;
            width: 41px;
            border-radius: 0;
            font-size: 16px;
            text-transform: uppercase;
            border: 1px solid #fff;
            display: block;
            &:hover {
                color: #fff;
                background-color: #e25b37;
                border: 1px solid #e25b37;
            }
            .plus-c {
                font-size: 20px;
            }
        }
    }
    .item-column {
        &:nth-child(1) {
            .single-content {
                padding-bottom: 100%;
            }
        }
    }
}
.ctm-select {
    @include dimension(null, 100%);
    position: relative;
    border-radius: 5px;
    .ctm-select-txt {
        @include dimension(null, 100%);
        padding: 8px 20px;
        cursor: pointer;
        border: 1px solid map-get($theme-colors, "color_8");
        .select-txt {
            padding-left: 5px;
            display: inherit;
            @include dimension(null, 100%);
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .select-arr {
        cursor: pointer;
        position: absolute;
        @include directionPos(8px, 12px);
        img {
            @include dimension(null, 25px);
        }
    }
    .select-icon {
        position: absolute;
        @include directionPos(12px, null, null, 12px);
        img {
            @include dimension(null, 13px);
        }
    }
    .ctm-option-box {
        position: absolute;
        display: none;
        max-height: 173px;
        overflow: auto;
        scrollbar-color: #888 #f1f1f1;
        scrollbar-width: thin;
        @include dimension(null, 100%);
        background: map-get($theme-colors, "color_5");
        border: 1px solid map-get($theme-colors, "color_8");
        @include directionPos(45px, null, null, 0);
        z-index: 10;
        border-radius: 5px;
        .ctm-option {
            padding: 10px;
            border-bottom: 1px solid map-get($theme-colors, "color_8");
            cursor: pointer;
            text-transform: capitalize;
            &:last-child {
                border: none;
            }
            &:hover {
                background: map-get($theme-colors, "color_7");
            }
        }
    }
}
.p-btn {
    padding: 8px 20px;
    background: map-get($theme-colors, "color_0");
    color: map-get($theme-colors, "color_2");
    border-radius: 0;
    border: 1px solid map-get($theme-colors, "color_2");
}
.btn-danger {
    background: #c82333;
    &:hover {
        background: #a00010;
        border-color: white;
    }
}
.btn-warning {
    background: #bf401f;
    &:hover {
        background: #e25b37;
        border-color: white;
    }
}
.btn-info {
    background: #0b5561;
    &:hover {
        background: #138496;
        border-color: white;
    }
}
.btn-success {
    background: #105820;
    &:hover {
        background: #218838;
        border-color: white;
    }
}
.c-red {
    color: map-get($theme-colors, "color_16");
}
.float-r {
    float: right;
}
.ovrf-hdn {
    overflow: hidden;
}
#cancleBooking {
    .modal-body {
        padding: 2px;
        background: #e25b37;
        .btn-area {
            text-align: right;
        }
    }
}
.btn-area {
    text-align: right;
    .btn-ctm-1 {
        cursor: pointer;
    }
}
.btn-ctm {
    &.sty-1 {
        background: map-get($theme-colors, "color_9");
        border: 1px solid map-get($theme-colors, "color_9");
    }
    &.sty-black {
        background: map-get($theme-colors, "color_3");
    }
}
#sckbr_p {
    display: flex;
    justify-content: center;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 9999999;
    top: 30px;
    border: 2px solid #e25b37;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

.dialog-ovelay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999;
    .dialog {
        width: 400px;
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        overflow: hidden;
        background: #1a1a1a;
        border: 2px solid #e25b37;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        header {
            padding: 10px 8px;
            background-color: black;
            border-bottom: 1px solid #e25b37;
            h3 {
                font-size: 14px;
                margin: 0;
                color: white;
                display: inline-block;
            }
            .fa-close {
                float: right;
                color: white;
                cursor: pointer;
                transition: all 0.5s ease;
                padding: 0 2px;
                border-radius: 1px;
                font-style: normal;
                &:hover {
                    color: #b9b9b9;
                }
                &:active {
                    box-shadow: 0 0 5px #673ab7;
                    color: #a2a2a2;
                }
            }
        }
        .dialog-msg {
            padding: 12px 10px;
            p {
                margin: 0;
                font-size: 15px;
                color: #999;
            }
        }
        footer {
            padding: 8px 10px;
            &.edit-box-area {
                border: none;
                border-top: 1px solid #e25b37;
            }
            .controls {
                direction: ltr;
                text-align: right;
                .button {
                    padding: 5px 15px;
                    border-radius: 3px;
                }
            }
            button {
                margin: 0 !important;
                &.p-btn {
                    padding: 6px 20px;
                }
            }
        }
    }
}
.search-box {
    position: fixed;
    display: none;
    @include dimension(null, 100%);
    @include directionPos(0);
    background: map-get($theme-colors, "color_5");
    padding: 20px 10px 30px 10px;
    box-shadow: 0 0 10px 5px map-get($theme-colors, "color_3");
    z-index: 999999;
    .form-section {
        .form-all {
            .search-in {
                .form-control {
                    padding: 15px;
                    color: map-get($theme-colors, "color_2");
                }
                .input-group-text {
                    padding: 15px 20px;
                    color: map-get($theme-colors, "color_4");
                    cursor: pointer;
                }
            }
        }
    }
    .s-close {
        position: absolute;
        @include directionPos(1px, 15px);
        font-size: 35px;
        color: map-get($theme-colors, "color_4");
        cursor: pointer;
    }
}
.loginBtn {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: map-get($theme-colors, "color_2");
    margin-top: 15px;
    float: left;
}
.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    @include directionPos(0, null, null, 0);
    @include dimension(100%, 34px);
}
.loginBtn:focus {
    outline: none;
}
.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginBtn--facebook {
    background-color: map-get($theme-colors, "color_16");
    background-image: linear-gradient(
        map-get($theme-colors, "color_18"),
        map-get($theme-colors, "color_19")
    );
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 map-get($theme-colors, "color_20");
}
.loginBtn--facebook:before {
    border-right: 1px solid map-get($theme-colors, "color_21");
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png")
        6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: map-get($theme-colors, "color_22");
    background-image: linear-gradient(
        map-get($theme-colors, "color_22"),
        map-get($theme-colors, "color_23")
    );
}

/* Google */
.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: map-get($theme-colors, "color_24");
}
.loginBtn--google:before {
    border-right: 1px solid map-get($theme-colors, "color_25");
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png")
        6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
    background: map-get($theme-colors, "color_25");
}
@media screen and (max-width: 450px) {
    .loginBtn {
        float: initial;
    }
}
.header-section {
    .main-menu {
        @include padding-p-map($header-section-main-menu-padding);
        .hs-menubar {
            height: auto;
            width: auto;
            left: -30px;
            top: 14px;
            border: none;
        }
        .navbar {
            .navbar-brand {
                @include dimension(60px, 200px);
                color: map-get($theme-colors, "color_2");
                @include margin-left-p-map($box-margin-left);
                img {
                    @extend %cover-content;
                }
            }
            i {
                color: map-get($theme-colors, "color_2");
                font-size: 35px;
            }
            .nav-txt {
                text-align: center;
                .nav-txt1 {
                    font-size: 25px;
                    font-weight: 100;
                    color: map-get($theme-colors, "color_4");
                }
                .nav-txt2 {
                    font-size: 18px;
                    font-weight: 100;
                }
            }
            .navbar-collapse {
                .navbar-nav {
                    margin: 0 auto;
                    position: relative;
                    flex-flow: wrap;
                    .nav-item {
                        position: relative;
                        .count-l {
                            position: absolute;
                            top: -13px;
                            right: 8px;
                            background: #e25b37;
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 12px;
                        }
                        .dot {
                            &:after {
                                content: "";
                                position: absolute;
                                background: map-get($theme-colors, "color_29");
                                @include dimension(3px, 3px);
                                @include directionPos(50%, null, null, 0);
                                border-radius: 49%;
                            }
                        }
                        .nav-link {
                            position: relative;
                            color: map-get($theme-colors, "color_2");
                            @include padding-p-map(
                                $main-menu-navbar-collapse-nav-link-padding
                            );
                            @include font-size-p-map(
                                $main-menu-navbar-collapse-nav-link-font-size
                            );
                            text-transform: uppercase;
                            &:hover {
                                color: map-get($theme-colors, "color_29");
                            }
                        }
                        .nav-link.active {
                            color: map-get($theme-colors, "color_29");
                        }
                        .lan-flag {
                            position: relative;
                            img {
                                cursor: pointer;
                                // width: 25px;
                            }
                            .lan-pop-up {
                                position: absolute;
                                z-index: 111;
                                background: #1a1a1a;
                                border: 2px solid #e25b37;
                                left: -25px;
                                top: 40px;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    left: 30px;
                                    top: -10px;
                                    width: 0;
                                    height: 0;
                                    border-left: 10px solid transparent;
                                    border-right: 10px solid transparent;
                                    border-bottom: 10px solid #1a1a1a;
                                    clear: both;
                                }
                                &::before {
                                    content: "";
                                    position: absolute;
                                    left: 27px;
                                    top: -12px;
                                    width: 0;
                                    height: 0;
                                    border-left: 13px solid transparent;
                                    border-right: 13px solid transparent;
                                    border-bottom: 12px solid #e25b37;
                                    clear: both;
                                }
                                .lan-name {
                                    padding: 5px 10px;
                                    border-bottom: 1px solid #e25b37;
                                    cursor: pointer;
                                    &:last-child {
                                        border: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .pro-cnf-area {
        display: flex;
        .usr-main-p {
            cursor: pointer;
            @include dimension(40px, 40px);
            border-radius: 50%;
            overflow: hidden;
        }
        .setting-btn {
            cursor: pointer;
            margin-left: 15px;
        }
    }
    .switch-acnt-box {
        position: absolute;
        display: none;
        @include dimension(null, 280px);
        color: map-get($theme-colors, "color_2");
        @include directionPos(86px, 14px);
        background: map-get($theme-colors, "color_3");
        border-radius: 5px;
        z-index: 99999;
        padding: 15px;
        border: 2px solid #e25b37;
        .acnt-list {
            a {
                display: block;
                padding: 10px;
                background: map-get($theme-colors, "color_7");
                border-bottom: 1px solid map-get($theme-colors, "color_8");
                text-align: center;
                font-size: 16px;
                text-transform: uppercase;
            }
        }
        .m-logout {
            margin: 7px 0;
            text-align: center;
            button {
                background-image: $color_33;
                font-size: 14px;
                padding: 7px 45px;
                color: map-get($theme-colors, "color_2");
                border-radius: 5px;
                border: none;
            }
        }
        &:before {
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            border-left: 22px solid transparent;
            border-right: 22px solid transparent;
            border-bottom: 20px solid #e25b37;
            z-index: 999;
            top: -20px;
            right: 3px;
        }
        &::after {
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            border-left: 18px solid transparent;
            border-right: 18px solid transparent;
            border-bottom: 17px solid #000;
            z-index: 999;
            top: -17px;
            right: 7px;
        }
    }
}

.form-control {
    border-radius: 0;
    background: map-get($theme-colors, "color_0");
    border: 1px solid map-get($theme-colors, "color_6");
    color: map-get($theme-colors, "color_14");
    &:focus {
        background: map-get($theme-colors, "color_0");
        box-shadow: none;
        border-color: map-get($theme-colors, "color_14");
    }
    &::placeholder {
        color: map-get($theme-colors, "color_14");
        font-size: 15px;
    }
}
.modal {
    &.smrnote {
        background: #0000008c;
        .modal-content {
            background: black;
            border: 2px solid #e25b37;
            .modal-header {
                border-color: map-get($theme-colors, "color_4");
                button {
                    opacity: 1;
                    color: white;
                }
            }
            .modal-footer {
                border-color: map-get($theme-colors, "color_4");
                button {
                    margin: 0;
                }
            }
        }
    }
}
.note-popover {
    display: none;
}
.note-toolbar {
    .note-palette-title {
        color: white;
    }
    .note-icon-caret {
        &:before {
            position: absolute;
            right: 5px;
            top: 10px;
        }
    }
    .note-dimension-picker-highlighted {
        background: #e25b37c7 !important;
    }
    .note-color-all {
        .note-icon-caret {
            &:before {
                right: 0;
            }
        }
    }
    > .note-btn-group {
        margin: 8px !important;
        > .note-btn-group {
            > ul {
                background: #1a1a1a;
                border: 2px solid #e25b37;
                min-width: 180px;
                pre {
                    color: white;
                    &:hover {
                        color: #e25b37;
                    }
                }
            }
        }
        button {
            margin: 0 !important;
            background: transparent;
            color: white;
            border: 2px solid white;
            font-size: 10px;
            padding: 9px;
        }
    }
}
.note-editable {
    background: transparent !important;
    border-top: 1px solid #999 !important;
    color: #999 !important;
}
.header-filter {
    .line-h {
        position: relative;
        background: map-get($theme-colors, "color_30");
        @include dimension(1px);
        span {
            position: absolute;
            cursor: pointer;
            border-radius: 50%;
            @include dimension(20px, 20px);
            background: map-get($theme-colors, "color_9");
            text-align: center;
            @include directionPos(-9px, null, null, 27%);
            z-index: 1;
        }
        .rotate-ar {
            transform: rotate(180deg);
            position: relative;
            @include directionPos(-2px);
        }
    }
    .form-sh {
        display: none;
    }
    .form-section {
        padding: 25px 6% 0;
        background: map-get($theme-colors, "color_5");
        .form-all {
            .form-group,
            .input-group {
                padding: 0 10px 10px;
            }
            .input-group-text {
                border-radius: 0;
                background: map-get($theme-colors, "color_0");
                border: 1px solid map-get($theme-colors, "color_6");
            }
            .form-check {
                color: map-get($theme-colors, "color_6");
            }
            .search-in {
                .form-control {
                    border-right: none;
                }
                .input-group-text {
                    border-left: none;
                }
            }
        }
        .range-tlt {
            font-size: 16px;
            padding-right: 15px;
            text-transform: uppercase;
            padding-bottom: 15px;
        }
        .form-range {
            .range-tlt {
                font-size: 16px;
                padding-right: 15px;
                text-transform: uppercase;
                padding-bottom: 0;
            }
            .demo-output {
                .slider-container {
                    width: 100% !important;
                    .scale {
                        display: none;
                    }
                    .back-bar {
                        border-radius: 0;
                        .selected-bar {
                            background: map-get($theme-colors, "color_4");
                        }
                        .pointer {
                            @include dimension(20px, 20px);
                            border-radius: 0;
                            @include directionPos(-8px);
                        }
                    }
                }
            }
            .dm {
                .pointer.low {
                    display: none;
                }
            }
        }
        .ran-bar {
            font-size: 22px;
            .bar-txt {
                padding-right: 15px;
            }
        }
        .r-d {
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            .demo-output {
                @include dimension(null, 100%);
            }
        }
    }
}
#registrationPopUp,
#loginPopUp {
    .modal-body {
        padding: 0;
        border: 2px solid map-get($theme-colors, "color_15");
        color: map-get($theme-colors, "color_14");
        .title {
            font-size: 25px;
            text-align: center;
        }
    }
}
.header1-section {
    .line-h {
        background: map-get($theme-colors, "color_0");
    }
    .lg-btn {
        display: flex;
        align-items: center;
        span {
            padding: 5px;
        }
        .p-btn {
            padding: 1px 30px;
            color: map-get($theme-colors, "color_3");
            border-radius: 0;
            font-size: 14px;
            border: none;
        }
        .l-btn {
            background: map-get($theme-colors, "color_9");
            padding: 1px 15px;
        }
        i {
            font-size: 14px !important;
            color: map-get($theme-colors, "color_9") !important;
        }
    }
    .ss {
        position: relative;
        padding: 0 15px;
        @include width-p-map($ss-width);
        .search-ic {
            cursor: pointer;
        }
    }
    .mb-src-box {
        margin-bottom: 25px;
    }

    .search-show {
        background: #000;
        z-index: 11;
        position: relative;
        .ss-src-result {
            position: absolute;
            background: #1a1a1a;
            width: 100%;
            border: 1px solid #e25b37;
            max-height: 233px;
            overflow: auto;
            scrollbar-color: #888 #f1f1f1;
            scrollbar-width: thin;
            .src-rslt-con {
                padding: 5px;
                border-bottom: 1px solid #484848;
            }
        }
        input {
            border-radius: 0;
            background: #1a1a1a;
            border: 1px solid #495057;
            border-right: 0;
            &:focus {
                box-shadow: none;
            }
        }
        #basic-addon2 {
            border-radius: 0;
            cursor: pointer;
            background: #1a1a1a;
            border: 1px solid #495057;
            border-left: 0;
            i {
                color: #e25b37;
                font-size: 20px !important;
            }
        }
    }
    .search-ic {
        cursor: pointer;
    }
}

.slider-section {
    padding: 30px 5%;
    .carousel {
        background: map-get($theme-colors, "color_5");
        .carousel-inner {
            @include dimension(null, 80%);
            margin: 0 auto;
            .carousel-item {
                @include dimension(160px);
                text-align: center;
                img {
                    @extend %cover-content;
                }
                .carousel-caption {
                    position: absolute;
                    @include directionPos(null, unset, 13px, 10%);
                    text-align: left;
                    p {
                        background: map-get($theme-colors, "color_10");
                        padding: 2px 10px;
                    }
                }
            }
        }
        .carousel-control-next,
        .carousel-control-prev {
            @include dimension(35px, 35px);
        }
        .carousel-control-next {
            @include directionPos(36%, 10px);
        }
        .carousel-control-prev {
            @include directionPos(36%, null, null, 10px);
        }
    }
}
.section1 {
    padding: 15px 5% 50px;
}
.bg-dark-sec {
    background: map-get($theme-colors, "color_3");
}
.dr-section {
    padding: 15px 5% 0px;
}

.section-title {
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    color: map-get($theme-colors, "color_29");
}
.single-content {
    position: relative;
    background: map-get($theme-colors, "color_5");
    margin: 0 5px 20px;
    .content-img-p {
        position: relative;
        padding-bottom: 70%;
        overflow: hidden;
        &:before {
            content: "";
            position: absolute;
            @include dimension(0);
            @include directionPos(0, 0, 0, 0);
            background: map-get($theme-colors, "color_4");
            background: -webkit-linear-gradient(
                left,
                map-get($theme-colors, "color_4"),
                map-get($theme-colors, "color_4") 50%,
                map-get($theme-colors, "color_4")
            );
            background: linear-gradient(
                to right,
                map-get($theme-colors, "color_4"),
                map-get($theme-colors, "color_4") 50%,
                map-get($theme-colors, "color_4")
            );
            filter: alpha(opacity=0);
            opacity: 0;
            -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
            z-index: 9;
        }
        &:hover {
            &:before {
                opacity: 0.5;
                @include dimension(100%);
            }
        }
    }
    .content-img {
        position: absolute;
        @include directionPos(0, 0, 0, 0);
        img {
            @extend %cover-content;
        }
    }
    .content-des {
        padding: 15px 8px;
    }
    .content-tlt {
        padding: 15px 3px 5px;
        text-align: center;
        text-transform: capitalize;
        font-size: 18px;
        color: map-get($theme-colors, "color_29");
    }
}
.single-content1 {
    background: map-get($theme-colors, "color_3");
    .content-img-p {
        padding-bottom: 110%;
    }
    .content-s-tlt {
        font-size: 35px;
        text-transform: uppercase;
        padding: 5px;
        text-align: left;
    }
    .content-s-txt {
        padding: 0 10px 10px;
        text-align: left;
    }
}
.more {
    text-align: center;
    margin: 40px 0;
}
.more-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 0;
    background: linear-gradient(
        to right,
        map-get($theme-colors, "color_17"),
        map-get($theme-colors, "color_15")
    );
}
.btn-ctm {
    padding: 8px 15px;
    border: none;
    border-radius: 0;
    background: map-get($theme-colors, "color_15");
}

.r-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 0;
    background: #a95c2e;
    color: white;
}
.swiper-container {
    @include dimension(100%, 100%);
    padding-top: 0;
    .swiper-slide {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}

.sw-np {
    position: absolute;
    @include directionPos(-67px);
    background: map-get($theme-colors, "color_5");
    @include dimension(45px, 100px);
    z-index: 9;
    right: 20px;
    .swiper-button-prev,
    .swiper-button-next {
        background: map-get($theme-colors, "color_0");
        @include directionPos(64%);
        &:focus {
            outline: 0;
        }
        img {
            @include dimension(null, 20px);
        }
    }
}
.dr-section {
    margin-bottom: 50px;
    .dr-m {
        background: map-get($theme-colors, "color_5");
        padding: 15px 0 5px;
        .dr {
            background: map-get($theme-colors, "color_3");
            margin-bottom: 10px;
            .dr-l {
                padding: 15px 15px 15px 35px;
                background: map-get($theme-colors, "color_2");
                color: map-get($theme-colors, "color_4");
                transition: 0.5s ease all;
                cursor: pointer;
                .dr-ic1 {
                    margin-right: 15px;
                }
                .dr-ic2,
                .dr-ic3 {
                    float: right;
                }
                .dr-ic3 {
                    display: none;
                }
            }
            .dr-in {
                background: map-get($theme-colors, "color_4");
                color: map-get($theme-colors, "color_2");
                .dr-ic3 {
                    display: inline-block;
                }
                .dr-ic2 {
                    display: none;
                }
            }
            .dr-content {
                display: none;
                padding: 10px;
                p {
                    margin-bottom: 5px;
                }
            }
        }
    }
}
.footer-section {
    padding: 60px 4% 0px;
    background: map-get($theme-colors, "color_5");
    margin-top: 30px;
    .d-con {
        padding-bottom: 30px;
        .f-logo {
            margin-bottom: 20px;
            @include dimension(70px, 200px);
            color: map-get($theme-colors, "color_2");
            img {
                @extend %cover-content;
            }
        }
        .f-txt {
            padding-right: 25%;
            margin-bottom: 15px;
        }
        .f-card {
            img {
                margin-right: 5px;
            }
        }
    }
    .f-menu {
        padding-bottom: 30px;
        display: flex;
        .f-menu1 {
            @include dimension(null, 50%);
            h1 {
                padding-bottom: 20px;
            }
            ul {
                padding-left: 18px;
                li {
                    padding-bottom: 10px;
                    a {
                        color: map-get($theme-colors, "color_4");
                    }
                    a:hover {
                        color: map-get($theme-colors, "color_2");
                    }
                }
            }
        }
    }
}
.blog-section {
    padding: 50px 4%;
    .blog {
        display: flex;
        background: map-get($theme-colors, "color_5");
        margin-bottom: 30px;
        .blog-img {
            @include dimension(null, 30%);
            position: relative;
            img {
                @extend %cover-content;
            }
            &:before {
                content: "";
                position: absolute;
                @include directionPos(0, 0, 0, 0);
                background: map-get($theme-colors, "color_4");
                background: -webkit-linear-gradient(
                    left,
                    map-get($theme-colors, "color_4"),
                    map-get($theme-colors, "color_4") 50%,
                    map-get($theme-colors, "color_4")
                );
                background: linear-gradient(
                    to right,
                    map-get($theme-colors, "color_4"),
                    map-get($theme-colors, "color_4") 50%,
                    map-get($theme-colors, "color_4")
                );
                filter: alpha(opacity=0);
                opacity: 0;
                @include dimension(0);
                -webkit-transition: all 0.2s linear;
                transition: all 0.2s linear;
                z-index: 9;
            }
            &:hover {
                &:before {
                    opacity: 0.5;
                    @include dimension(100%);
                }
            }
        }
        .blog-des {
            @include dimension(null, 70%);
            padding: 30px;
            .blog-tlt {
                font-size: 30px;
                padding-bottom: 15px;
            }
            .blog-txt {
                padding-bottom: 15px;
            }
            .blog-dta {
                .date {
                    padding-right: 15px;
                }
                i {
                    padding-right: 5px;
                    color: map-get($theme-colors, "color_4");
                }
            }
            .star {
                i {
                    padding-right: 5px;
                    color: map-get($theme-colors, "color_32");
                }
            }
        }
    }
}
.link-menu {
    padding: 0px 15px 30px;
    span {
        padding-right: 10px;
        color: map-get($theme-colors, "color_29");
        font-size: 18px;
    }
    .fa-chevron-right {
        font-size: 15px;
    }
    a {
        color: map-get($theme-colors, "color_29");
        &:hover {
            text-decoration: underline;
        }
    }
}
.about-section {
    padding: 50px 3%;
    background: map-get($theme-colors, "color_5");
    .about-cnt {
        .about-tlt {
            display: flex;
            position: relative;
            align-items: center;
            h1 {
                width: calc(100% - 50px);
            }
        }
        .about-txt {
            padding-top: 20px;
        }
    }
    .about-nav {
        padding: 30px 0;
        .nav-pills {
            margin: 30px 0;
            .nav-item {
                margin-right: 15px;
                margin-bottom: 15px;
                .nav-link {
                    border-radius: 0;
                    font-size: 16px;
                    padding: 8px 40px;
                    text-transform: uppercase;
                    border: 1px solid map-get($theme-colors, "color_2");
                    &:hover {
                        color: map-get($theme-colors, "color_2");
                        background-color: map-get($theme-colors, "color_4");
                        border: 1px solid map-get($theme-colors, "color_4");
                    }
                }
                .nav-link.active,
                .show > .nav-link {
                    color: map-get($theme-colors, "color_2");
                    background-color: map-get($theme-colors, "color_4");
                    border: 1px solid map-get($theme-colors, "color_4");
                }
            }
        }
        .single-content {
            margin: 0;
            .content-img-p {
                padding-bottom: 100%;
            }
        }
    }
    .apointment-tbl-all {
        background: map-get($theme-colors, "color_3");
        padding: 15px;
        .api-tlt {
            font-size: 25px;
            padding: 13px 0 30px;
        }
        .apointment-tbl {
            display: flex;
            align-items: center;
            padding: 10px 0;
            border-top: 1px solid map-get($theme-colors, "color_8");
            border-bottom: 1px solid map-get($theme-colors, "color_8");
            div {
                @include dimension(null, 33.33%);
                text-align: center;
            }
            .apointment-t {
                i {
                    color: map-get($theme-colors, "color_4");
                    padding-right: 5px;
                }
            }
            .apointment-a {
                color: map-get($theme-colors, "color_4");
            }
            .apointment-btn {
                .avai-txt {
                    display: none;
                }
            }
        }
        .apointment-tbl.active {
            .apointment-btn {
                .p-btn {
                    background: map-get($theme-colors, "color_4");
                    border: 1px solid map-get($theme-colors, "color_4");
                }
                .avai-txt {
                    display: inline-block;
                }
                .unavai-txt {
                    display: none;
                }
            }
            .apointment-a {
                color: map-get($theme-colors, "color_2");
            }
        }
    }

    .pignose-calendar-dark {
        @include dimension(null, 95%);
        background: map-get($theme-colors, "color_3") !important;
        .pignose-calendar-body {
            padding: 0;
            margin: 0 15px 15px;
            background: map-get($theme-colors, "color_5");
        }
        .pignose-calendar-top {
            background: map-get($theme-colors, "color_3") !important;
            .pignose-calendar-top-month {
                font-size: 16px !important;
            }
            .pignose-calendar-top-year {
                font-size: 14px !important;
            }
        }
        .pignose-calendar-week {
            font-size: 11px !important;
        }
        .pignose-calendar-week-sun {
            color: map-get($theme-colors, "color_16") !important;
        }
        .pignose-calendar-unit {
            border: 1px solid #333;
            a {
                color: map-get($theme-colors, "color_2") !important;
                font-size: 13px !important;
            }
        }
        .pignose-calendar-unit-sun {
            a {
                color: map-get($theme-colors, "color_16") !important;
            }
        }
        .pignose-calendar-unit-sun.pignose-calendar-unit-active {
            a {
                color: map-get($theme-colors, "color_2") !important;
            }
        }
        .pignose-calendar-unit-active {
            a {
                background: map-get($theme-colors, "color_16") !important;
            }
        }
    }
    .comment-s {
        padding-top: 30px;
        .com-tlt {
            padding: 20px 0px;
        }
        .form-control {
            background: map-get($theme-colors, "color_0");
            border-radius: 0;
            resize: none;
            @include dimension(180px);
            border: 1px solid map-get($theme-colors, "color_8");
        }
        .p-btn {
            padding: 8px 45px;
            margin: 5px;
            text-transform: uppercase;
        }
        .send {
            background: map-get($theme-colors, "color_9");
            border: 1px solid map-get($theme-colors, "color_9");
        }
    }
    .com-reply {
        margin-top: 60px;
        .comment {
            padding: 0 15px 15px;
            .user-img-c {
                @include dimension(80px, 80px);
                overflow: hidden;
                img {
                    @extend %cover-content;
                }
            }
            .comment-cnt {
                padding: 15px;
                color: map-get($theme-colors, "color_3");
                background: map-get($theme-colors, "color_2");
                p {
                    padding-top: 15px;
                }

                .edit-com {
                    position: absolute;
                    @include directionPos(0, 0);
                    background: map-get($theme-colors, "color_10");
                    padding: 10px;
                    color: map-get($theme-colors, "color_2");
                    cursor: pointer;
                }
            }
            .col-12 {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 calc(100% - 80px);
                flex: 0 0 calc(100% - 80px);
                max-width: calc(100% - 80px);
            }
            .reply {
                margin-top: 30px;
                padding: 0 15px;
            }
        }
    }

    .model-bg-img {
        display: flex;
        justify-content: center;
        @include dimension(null, 400px);
        cursor: pointer;
    }
    .social-icon {
        margin: 30px 0;
        text-align: center;
        ul {
            li {
                list-style: none;
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 8px;
                a {
                    display: inline-block;
                    padding: 10px 20px;
                    &:hover {
                        color: map-get($theme-colors, "color_2");
                    }
                }
                .fb {
                    background: map-get($theme-colors, "color_11");
                }
                .tw {
                    background: map-get($theme-colors, "color_12");
                }
                .go {
                    background: map-get($theme-colors, "color_4");
                }
                .pin {
                    background: map-get($theme-colors, "color_4");
                }
                .lin {
                    background: map-get($theme-colors, "color_13");
                }
            }
        }
    }
    .pro-box {
        background: map-get($theme-colors, "color_3");
        position: relative;
        padding: 15px;
        .col-12 {
            -ms-flex: 0 0 calc(100% - 160px);
            flex: 0 0 calc(100% - 160px);
            max-width: calc(100% - 160px);
        }
        .pro-img {
            @include dimension(auto, 160px);
            padding-left: 15px;
            padding-right: 15px;
            img {
                @extend %cover-content;
            }
        }
        .pro-cnt {
            div {
                padding-bottom: 10px;
            }
            .pro-name {
                text-align: center;
                padding: 10px;
                font-size: 25px;
                color: map-get($theme-colors, "color_9");
            }
            .pro-email {
                color: map-get($theme-colors, "color_4");
            }
            i {
                color: map-get($theme-colors, "color_4");
                padding-right: 5px;
            }
            .pro-cn {
                max-width: calc(100% - 95px);
            }
            .pro-btn {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }
    .pro-table {
        .table-striped tr {
            background-color: map-get($theme-colors, "color_9");
            &:nth-of-type(odd) {
                background-color: map-get($theme-colors, "color_10");
            }
            td {
                border: 1px solid map-get($theme-colors, "color_3");
            }
        }
        .head-tr {
            text-align: center;
            color: map-get($theme-colors, "color_3");
            font-weight: 600;
        }
    }
    .g-map {
        padding: 30px 0 45px;
        .mapouter {
            position: relative;
            text-align: right;
            .gmap_canvas {
                @include dimension(300px, 100%);
                iframe {
                    @extend %cover-content;
                }
            }
        }
    }
    .side-blog {
        .blog-section {
            background: map-get($theme-colors, "color_31");
            padding: 0 15px 30px 30px;

            .pop-master {
                padding: 35px 0 25px;
                border-bottom: 1px solid map-get($theme-colors, "color_8");
            }
            .blog {
                background: map-get($theme-colors, "color_0");
                margin-bottom: 0;
                padding: 25px 0px;
                border-bottom: 1px solid map-get($theme-colors, "color_8");
                .blog-des {
                    padding: 15px;
                }
            }
        }
    }
    .category-area {
        display: flex;
        .cat-slt {
            width: calc(100% - 80px);
        }
        .save-cat-btn {
            width: 80px;
            position: relative;
            .btn-ctm {
                &.sty-black {
                    top: 27px;
                }
                &.ctm-btn-save {
                    background: #e25b37;
                }
            }
        }
    }
}

.edit-box-area {
    background: map-get($theme-colors, "color_5");
    border: 2px solid map-get($theme-colors, "color_4");
    .edit-box {
        @include dimension(null, 100%);
        h3 {
            margin-top: 30px;
        }
        button {
            border-radius: 0 !important;
            margin-top: 15px;
        }
        .removeBox {
            cursor: pointer;
            position: absolute;
            @include directionPos(5px, 10px);
        }
        .form-label {
            color: map-get($theme-colors, "color_2") !important;
        }
        .btn-success,
        .btn-primary {
            background-color: map-get($theme-colors, "color_4");
            border-color: map-get($theme-colors, "color_4");
        }
        .btn-success {
            margin-bottom: 15px;
        }
        .pip {
            display: inline-block;
            margin: 10px 10px 0 0;
            @include dimension(50px);
        }
        .pip img {
            @include dimension(100%);
        }
        .remove,
        .service-remove,
        .service-gallery-remove {
            display: block;
            background: map-get($theme-colors, "color_5");
            border: 1px solid map-get($theme-colors, "color_14");
            text-align: center;
            cursor: pointer;
            color: map-get($theme-colors, "color_2");
        }
    }
}
.userPro-section {
    padding: 20px 15px 20px;
    .userPro-cnt {
        margin-bottom: -50px;
        .single-content {
            .content-img-p {
                padding-bottom: 55%;
            }
        }
        .user-slider {
            .carousel-item {
                @include dimension(400px);
            }
        }
        .userPro-bio {
            position: relative;
            background: map-get($theme-colors, "color_3");
            padding: 10px;
            z-index: 11;
            @include dimension(null, 90%);
            top: -70px;
            margin: 0 auto;
            .userPro-imgM {
                @include dimension(auto, 170px);
                position: relative;
                overflow: hidden;
                img {
                    @extend %cover-content;
                }
                .overShade {
                    position: absolute;
                    background: map-get($theme-colors, "color_27");
                    text-align: center;
                    @include directionPos(null, null, 0, 0);
                    @include dimension(null, 100%);
                    cursor: pointer;
                    display: none;
                    i {
                        color: map-get($theme-colors, "color_2");
                        z-index: 11;
                        padding: 20px;
                        font-size: 25px;
                    }
                }
                &:hover {
                    .overShade {
                        display: block;
                    }
                }
            }
            .col-12 {
                -ms-flex: 0 0 calc(100% - 170px);
                flex: 0 0 calc(100% - 170px);
                max-width: calc(100% - 170px);
            }
            .userPro-tel {
                display: flex;
                .userPro-tel-t {
                    padding: 8px 8px 0;
                    background: map-get($theme-colors, "color_5");
                    div {
                        padding-bottom: 5px;
                    }
                    .pro-name {
                        text-align: center;
                        padding: 10px;
                        font-size: 25px;
                        color: map-get($theme-colors, "color_9");
                    }
                    .pro-email {
                        color: map-get($theme-colors, "color_4");
                    }
                    i {
                        color: map-get($theme-colors, "color_4");
                        padding-right: 5px;
                    }
                }
            }
            .social {
                padding-top: 5px;
                span {
                    padding: 0 20px 5px 0;
                    color: map-get($theme-colors, "color_4");
                }
                .fb {
                    color: map-get($theme-colors, "color_11");
                }
                .tw {
                    color: map-get($theme-colors, "color_12");
                }
                .go {
                    color: map-get($theme-colors, "color_4");
                }
                .pin {
                    color: map-get($theme-colors, "color_4");
                }
                .lin {
                    color: map-get($theme-colors, "color_13");
                }
            }
            .bio-txt {
                padding: 15px 30px 0px 15px;
            }
            .chat-icon {
                position: absolute;
                right: 15px;
                font-size: 25px;
                bottom: 0px;
                cursor: pointer;
                color: map-get($theme-colors, "color_4");
            }
        }
    }
    .live-zona {
        margin-bottom: 15px;
        .live-zona-cnt {
            background: map-get($theme-colors, "color_3");
            margin-bottom: 15px;
            .single-content {
                background: map-get($theme-colors, "color_3");
                margin: 0;
                padding: 20px;
                .content-img-p {
                    padding-bottom: 55%;
                    iframe {
                        @extend %cover-content;
                        border: none;
                    }
                }
                .video {
                    margin-top: 50px;
                }
                .live-tlt {
                    padding-bottom: 7px;
                    position: relative;
                }
            }
        }
    }
    .styling-one,
    .styling-more {
        .live-zona-cnt {
            .single-content {
                background: map-get($theme-colors, "color_31");
            }
        }
    }
    .add-pic {
        .single-content {
            margin: 0 5px 10px;
        }
        .remveImg {
            color: map-get($theme-colors, "color_28");
            position: absolute;
            z-index: 111;
            @include directionPos(0, 6px);
            padding: 3px;
            cursor: pointer;
        }
        .add-p-inp {
            padding: 5px 7px;
            .g-input {
                float: right;
                .g-txt {
                    padding-left: 5px;
                }
                input[type="file"] {
                    display: none;
                }
                .custom-file-upload {
                    display: inline-block;
                    cursor: pointer;
                }
            }
        }
    }
    .styling-more {
        .live-zona-cnt {
            .single-content {
                .content-img-p {
                    padding-bottom: 70%;
                }
            }
        }
    }
    .side-blog {
        .blog-section {
            background: map-get($theme-colors, "color_7");
        }
    }
    .one-content {
        margin-top: 40px;
        background: map-get($theme-colors, "color_31");
        padding: 15px 10px;
    }
}
.cr-modal {
    .modal-content {
        background: map-get($theme-colors, "color_5");
        border: 1px solid map-get($theme-colors, "color_4");
        .modal-header {
            border-bottom: 1px solid map-get($theme-colors, "color_4");
            justify-content: center;
            text-transform: capitalize;
            .close {
                position: absolute;
                @include directionPos(8px, 15px);
                color: map-get($theme-colors, "color_2");
                opacity: 1;
            }
        }
        .modal-footer {
            border-top: 1px solid map-get($theme-colors, "color_4");
            justify-content: center;
            button {
                background: map-get($theme-colors, "color_4");
                border-color: map-get($theme-colors, "color_4");
                color: map-get($theme-colors, "color_2");
            }
        }
    }
}
#coverImgC {
    #files {
        margin-top: 25px;
    }
    .image-checkbox {
        position: relative;
        cursor: pointer;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 3px solid map-get($theme-colors, "color_0");
        margin-bottom: 0;
        outline: 0;
    }
    .image-checkbox input[type="checkbox"] {
        display: none;
    }

    .image-checkbox-checked {
        border-color: map-get($theme-colors, "color_4");
    }
    .image-checkbox .fa {
        position: absolute;
        color: map-get($theme-colors, "color_4");
        background-color: transparent;
        padding: 10px;
        @include directionPos(1px, null, null, 22%);
        font-size: 25px;
    }
    .image-checkbox-checked .fa {
        display: block !important;
    }
    .rmv-p {
        position: absolute;
        @include directionPos(2px, 21px);
        z-index: 999;
        cursor: pointer;
    }
}
.edit-info-btn {
    position: absolute;
    background: map-get($theme-colors, "color_5");
    padding: 10px 15px;
    @include directionPos(0, 0);
    cursor: pointer;
}
.pro-i-m {
    label {
        color: map-get($theme-colors, "color_14");
    }
    button {
        padding: 8px 35px;
    }
}
#shortBio {
    resize: none;
    @include dimensionMin(115px);
}
.show-m {
    display: none;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    .btn {
        border: 2px solid map-get($theme-colors, "color_4");
        color: map-get($theme-colors, "color_4");
        background-color: white;
        padding: 6px 20px;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer !important;
        margin-top: 0 !important;
    }
    input[type="file"] {
        position: absolute;
        @include directionPos(0, null, 0, 0);
        opacity: 0;
    }
}

.ctm-con {
    position: relative;
    @include dimension(35px, 100%);
    padding-left: 40px;
    line-height: 35px;
    cursor: pointer;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .checkmark {
        position: absolute;
        @include dimension(16px, 16px);
        @include directionPos(9px, null, null, 10px);
        border: 1px solid map-get($theme-colors, "color_4");
        background-color: map-get($theme-colors, "color_2");
        &:after {
            content: "";
            position: absolute;
            display: none;
            @include dimension(6px, 6px);
            @include directionPos(4px, 4px);
            background: map-get($theme-colors, "color_4");
        }
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        @include dimension(0, 0);

        &:checked ~ {
            .checkmark {
                &:after {
                    display: block;
                }
            }
        }
    }
}
.ctm-option-ch {
    padding: 5px 10px;
    border-bottom: 1px solid map-get($theme-colors, "color_8");
    cursor: pointer;
    text-transform: capitalize;
    &:hover {
        background: map-get($theme-colors, "color_7");
    }
}
.option-bg {
    background: map-get($theme-colors, "color_7");
}

.plus-c {
    position: absolute;
    z-index: 9;
    @include dimension(100%, 100%);
    font-size: 35px;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    i {
        position: absolute;
        @include directionPos(50%, null, null, 50%);
        transform: translate(-50%, -50%);
    }
}

.select-panel-section {
    padding: 35px 4%;
    background: map-get($theme-colors, "color_7");
    .section-title {
        padding: 20px 0;
        text-align: left;
    }
    .adition-service {
        padding-bottom: 40px;
        .row {
            align-items: center;
        }
        .service-list {
            .s-list {
                background: map-get($theme-colors, "color_5");
                border: 1px solid map-get($theme-colors, "color_8");
                padding: 10px 0;
                border-radius: 5px;
                margin-bottom: 15px;
                .add-ser-txt {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: map-get($theme-colors, "color_2");
                    font-size: 20px;
                    svg {
                        margin-left: 5px;
                    }
                }
                .adition-price {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .cr-price {
                        font-size: 25px;
                        font-weight: bold;
                    }
                }
                .ser-btn {
                    background: linear-gradient(
                        to right,
                        map-get($theme-colors, "color_17"),
                        map-get($theme-colors, "color_15")
                    );
                    padding: 8px 15px;
                    border: none;
                    color: map-get($theme-colors, "color_2");
                }
            }
        }
    }
    .checkout {
        .order {
            background: map-get($theme-colors, "color_5");
            padding: 30px;
            border: 1px solid map-get($theme-colors, "color_8");
            border-radius: 5px;
            .order-tlt {
                font-size: 20px;
                padding-bottom: 10px;
                color: map-get($theme-colors, "color_29");
            }
            .cr-price {
                font-size: 16px;
                font-weight: bold;
            }
            .order-list-all {
                .order-list {
                    border-bottom: 1px solid map-get($theme-colors, "color_8");
                    padding: 10px 0;
                    .order-price {
                        float: right;
                    }

                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
            .total-price {
                text-align: right;
                padding-top: 15px;
            }
        }
        .payment {
            .payment-tlt {
                color: map-get($theme-colors, "color_29");
                font-size: 20px;
                padding-bottom: 25px;
            }
            .payment-option {
                .pay-acc {
                    background: map-get($theme-colors, "color_5");
                    padding: 20px;
                    border: 1px solid map-get($theme-colors, "color_8");
                    border-radius: 5px;
                    position: relative;
                    @include dimension(125px);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    .pay-slct {
                        position: absolute;
                        @include directionPos(10px, null, null, 20px);
                        display: none;
                        color: map-get($theme-colors, "color_4");
                        font-size: 30px;
                    }
                    .pay-img {
                        img {
                            @include dimension(null, 150px);
                        }
                    }
                    .slct-pay-img {
                        display: none;
                    }
                }
                .pay-acc.pay-selected {
                    border: 2px solid map-get($theme-colors, "color_4");
                    .pay-slct {
                        display: inline-block;
                    }
                    .slct-pay-img {
                        display: inline-block;
                    }
                    .non-pay-img {
                        display: none;
                    }
                }
            }

            .next-step {
                text-align: right;
                padding-top: 25px;
                .view-btn {
                    padding: 5px 25px;
                }
            }
        }
    }
}
.next-btn {
    padding: 8px 35px;
}
.apointment-area {
    background: #000;
    padding: 15px;
    .vuecal__title {
        button {
            color: #fff;
        }
    }
    .vue-cal-ctm {
        max-height: 649px;
    }
    .vuecal__time-column {
        border-left: 1px solid;
        border-bottom: 1px solid;
    }
    .vuecal__cell {
        &.current,
        &.today {
            background-color: rgba(217, 155, 116, 0.6);
            .vuecal__no-event {
                color: #fff;
            }
        }
        &.selected {
            background-color: rgba(150, 75, 32, 0.6);
            .vuecal__no-event {
                color: #fff;
            }
        }
        .vuecal__event {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .vuecal__arrow {
        i {
            &.angle {
                color: #e25b37;
            }
        }
    }
    .ctm-select-g {
        position: relative;
        .ctm-select1 {
            &.disabled {
                background: #d4d4d4;
            }
            position: relative;
            height: 38px;
            min-width: 200px;
            background: #1a1a1a;
            padding-left: 15px;
            line-height: 38px;
            color: white;
            box-shadow: 0px 6px 20px rgba(53, 54, 58, 0.1);
            cursor: pointer;
            border: 1px solid #848181;
            .ctm-select-val {
                @extend %user-select;
            }
            .down-ar {
                position: absolute;
                color: #fff;
                right: 10px;
                font-size: 13px;
            }
        }
        .ctm-option-box1 {
            position: absolute;
            max-height: 200px;
            width: 100%;
            z-index: 9;
            margin-top: 8px;
            border: 1px solid rgba(224, 235, 255, 0.5);
            border-radius: 4px;
            overflow: hidden;
            overflow-y: auto;
            scrollbar-color: #888 #f1f1f1;
            scrollbar-width: thin;
            box-shadow: 0px 6px 20px rgba(255, 255, 255, 0.1);
            background: #1a1a1a;
            .input-group {
                height: auto;
                box-shadow: none;
                margin-bottom: -2px;
                border-radius: 0;
                border-bottom: 1px solid rgba(224, 235, 255, 0.5);
                overflow: hidden;
                scrollbar-color: #888 #f1f1f1;
                scrollbar-width: thin;
                .form-control {
                    border-radius: 0;
                    border: none;
                    color: #fff;
                }
                .input-group-append {
                    margin-left: -1px;
                    .input-group-text {
                        background: #1a1a1a;
                        border: none;
                    }
                }
            }
            .ctm-option-all {
                .ctm-option {
                    border-bottom: 1px solid rgba(224, 235, 255, 0.5);
                    background: #1a1a1a;
                    cursor: pointer;
                    .ctm-con {
                        @extend %user-select;
                        cursor: pointer;
                        width: 100%;
                        margin: 0;
                        font-weight: normal;
                        padding: 5px 10px 2px 10px;
                    }
                }
            }
        }
    }
}

.multi-menu {
    padding: 0 80px;
    border-top: 1px solid #1a1a1a;
    position: relative;
    top: 10px;
    .navbar {
        background: #0d0d0d;
        padding: 0;
        .navbar-toggler {
            font-size: 40px;
            color: #fff;
            position: relative;
            left: -47px;
            margin: 8px 0;
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    position: relative;
                    padding: 15px 10px;
                    color: #fff;
                    font-size: 16px;
                    transition: ease all 0.2s;
                    &:hover {
                        color: #e25b37;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        height: 3px;
                        width: 3px;
                        border-radius: 50%;
                        background: #e25b37;
                        bottom: 0;
                        margin: auto;
                    }
                }
                .sub-menu {
                    position: absolute;
                    display: none;
                    left: 0;
                    background: #1a1a1a;
                    border-top: 1px solid #333;
                    padding: 20px;
                    z-index: 999;
                    box-shadow: 0 5px 20px 2px #333333ad;
                    a {
                        transition: ease all 0.2s;
                        &:hover {
                            color: #e25b37;
                        }
                    }
                    .inner-menu {
                        float: left;
                        width: 285px;
                        margin-bottom: 30px;
                        .link-all {
                            padding-bottom: 10px;
                            .inner-tlt {
                                padding-bottom: 5px;
                                a {
                                    color: #fff;
                                    font-size: 16px;
                                    font-weight: 600;
                                    transition: ease all 0.2s;
                                    &:hover {
                                        color: #e25b37;
                                    }
                                }
                            }
                            .inner-link {
                                a {
                                    color: #fff;
                                    display: inline-block;
                                    transition: ease all 0.2s;
                                    &:hover {
                                        color: #e25b37;
                                    }
                                }
                            }
                        }
                    }
                }

                &:first-child {
                    .nav-link {
                        &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.wkr-status-free {
    color: green;
}
.wkr-status-leave {
    color: red;
}
.wkr-status-busy {
    color: #a95c2e;
}
.wkr-status-confirm {
    color: #1a23aa;
}
.appear-enter {
    opacity: 0;
    transition: 0.5s;
    &.modal-vue {
        .modal-window {
            transform: translate(-75%, -50%);
        }
    }
}
.appear-leave-active {
    opacity: 0;
    transition: 0.5s;
    &.modal-vue {
        .modal-window {
            transform: translate(0, -50%);
        }
    }
}
.modal-vue {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    z-index: 111;
    .error-modal {
        font-weight: bold;
        color: red;
    }
    .modal-window {
        position: absolute;
        top: 50%;
        left: 50%;
        transition: 0.5s;
        width: 100%;
        min-width: 400px;
        max-width: 800px;
        max-height: calc(100% - 30px);
        overflow-x: hidden;
        overflow-y: auto;
        // background: white;
        // box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transform: translate(-50%, -50%);
        // padding: 1em;
        color: black;
        text-align: center;
        p {
            background: white;
            padding: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            span {
                display: block;
                color: gray;
                font-size: 12px;
            }
        }
        .cancel {
            &.close {
                top: 13px;
                position: absolute;
                right: 15px;
                font-size: 16px;
            }
        }
        .box {
            background: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            padding: 10px;
            @include margin-top-p-map($box-padding);
            .top-cnt {
                .comlete-txt {
                    float: right;
                }
                .time-b {
                    margin-right: 10px;
                }
            }
            .specialist {
                padding-bottom: 5px;
                border-bottom: 1px solid #999;
                .check-worker {
                    .usr-name {
                        color: #d99b74;
                        font-weight: 600;
                        padding-top: 10px;
                        font-size: 16px;
                    }
                    .serv-name {
                        text-transform: capitalize;
                    }
                }
                .c-worker-type + .c-worker-type:before {
                    content: ", ";
                }
                .not-check-worker {
                    color: red;
                    font-weight: bold;
                    padding: 20px;
                }
            }
            .selected-serv {
                padding: 10px 0;
                border-bottom: 1px solid #999;
                .s-serv-name {
                    padding-bottom: 5px;
                    text-align: left;
                    .cle {
                        color: red;
                        cursor: pointer;
                        float: right;
                        text-decoration: underline;
                    }
                }
                .client {
                    text-align: left;
                    @include display-p-map($selected-serv-client-display);
                    align-items: center;
                    .client-name {
                        @include width-p-map($client-span-width);
                    }
                    .client-email {
                        @include width-p-map($client-span-width);
                        @include padding-p-map($client-client-email-padding);
                        @include float-p-map($client-client-email-float);
                    }
                }
            }
            .adding-serv {
                padding: 10px 0;
                .p-btn-c {
                    border: 1px solid black;
                    border-radius: 0;
                    padding: 5px 20px;
                }
                .adding-tlt {
                    text-decoration: underline;
                    margin-bottom: 15px;
                }
                .form-group {
                    text-align: left;
                    font-size: 12px;
                }
                .form-control {
                    font-size: 12px;
                    &:placeholder {
                        font-size: 12px;
                    }
                }
                .form-control[readonly] {
                    background-color: white !important;
                    color: black;
                }
            }

            .worker-tbl {
                .table {
                    tr {
                        // .w-name {
                        //     color: #d99b74;
                        // }
                        // &.active {
                        //     .w-name {
                        //         color: #74c1d9;
                        //     }
                        //     .w-serv {
                        //         color: #74c1d9;
                        //     }
                        // }
                    }
                    th,
                    td {
                        padding: 5px;
                    }
                    th {
                        border: none;
                    }
                    td {
                        border-color: #999;
                        border-bottom: 1px solid #999;
                        border-right: 1px solid #999;
                        &:last-child {
                            border-right: none;
                        }
                    }
                }
                .booking-b {
                    text-align: right;
                    .booking-btn {
                        background: #d99b74;
                        border: 1px solid #d99b74;
                        padding: 5px 25px;
                        margin: 5px;
                        border-radius: 0;
                        text-transform: uppercase;
                    }
                }
                .container {
                    position: relative;
                    margin-bottom: 15px;
                    cursor: pointer;
                    font-size: 22px;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                        &:checked ~ .checkmark {
                            background-color: #fff;
                            &:after {
                                display: block;
                            }
                        }
                    }

                    .checkmark {
                        position: absolute;
                        height: 20px;
                        width: 20px;
                        border: 1px solid #000;
                        &:after {
                            content: "";
                            position: absolute;
                            display: none;
                            left: 7px;
                            top: 3px;
                            width: 5px;
                            height: 10px;
                            border: solid red;
                            border-width: 0 2px 2px 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                }
            }
        }
        .actions {
            display: flex;
            justify-content: flex-end;
            button {
                font-size: inherit;
                margin: 4px;
                border: none;
                padding: 6px 8px;
                cursor: pointer;
            }
            .cancel {
                background: darkred;
                color: white;
            }
            .confirm {
                background: darkcyan;
                color: white;
            }
        }
    }
}
.booking-list-area {
    background: #000;
    padding: 30px;
    .dataTables_length {
        label {
            color: white;
        }
    }
    .dataTables_filter {
        label {
            color: white;
            input {
                border: 1px solid #b5a5a5;
            }
        }
    }
    .dataTable {
        tbody {
            tr {
                background: #333;
                & > .sorting_1 {
                    background: #333 !important;
                }
                &.odd {
                    background: #545454 !important;
                    & > .sorting_1 {
                        background: #545454 !important;
                    }
                    &:hover {
                        background: #545454 !important;
                    }
                }
                &:hover {
                    background: #333 !important;
                }
            }
        }
    }
    .dataTables_info {
        color: white !important;
    }
    .dataTables_wrapper {
        .dataTables_paginate {
            .paginate_button {
                color: #e25b37 !important;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1450px) {
    .about-section {
        .pro-box {
            .col-12 {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
            .pro-img {
                @include dimension(null, 100%);
                padding: 15px;
            }
            .pro-cnt {
                .pro-btn {
                    @include directionPos(null, 15px);
                }
            }
        }
        .pop-master {
            h1 {
                font-size: 28px;
            }
        }
    }
    /*.blog-section {
padding: 50px 0%;
.blog {
display: inherit;
.blog-img {
@include dimension(300px,100%);
}
.blog-des {
@include dimension(null,100%);
padding: 20px;
.blog-tlt {
font-size: 28px;
}
}
}
}*/
}
@media screen and (min-width: 1150px) {
    .blog-section {
        padding: 50px 4%;
    }
}
@media screen and (max-width: 1400px) {
    .single-content1 {
        .content-s-tlt {
            font-size: 25px;
            padding-top: 10px;
        }
    }
}
@media screen and (max-width: 1250px) {
    .footer-section {
        .f-menu {
            .f-menu1 {
                h1 {
                    font-size: 30px;
                }
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .header-section {
        .form-section {
            .r-d {
                padding-top: 20px;
            }
        }
        .search-li {
            padding-top: 25px;
            padding-left: 16px;
        }
    }
    .blog-section {
        padding: 50px 0%;
        .blog {
            .blog-img {
                @include dimension(null, 40%);
            }
            .blog-des {
                @include dimension(null, 60%);
                padding: 20px;
                .blog-tlt {
                    font-size: 28px;
                }
            }
        }
    }
    .userPro-section {
        .add-pic {
            padding-top: 50px;
        }
    }

    .about-section {
        .pro-box {
            .pro-cnt {
                .pro-btn {
                    @include directionPos(null, 15px);
                }
            }
        }
    }
    .show-m {
        display: inline-block;
    }
    .show-d {
        display: none;
    }

    .select-panel-section {
        padding: 30px;
        .adition-service {
            .service-list {
                .s-list {
                    padding: 15px 10px;
                    margin-bottom: 15px;
                    .ctm-select {
                        margin: 15px 10px;
                    }
                }
            }
        }

        .checkout {
            .payment {
                margin-top: 20px;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .about-section {
        .comment-s {
            padding-bottom: 40px;
            .com-tlt {
                h1 {
                    font-size: 30px;
                }
            }
            .com-reply {
                .comment {
                    .user-img-c {
                        @include dimension(60px, 60px);
                    }
                    .comment-cnt {
                        h2 {
                            font-size: 25px;
                        }
                        h6 {
                            font-size: 12px;
                        }
                        p {
                            font-size: 14px;
                            padding-top: 5px;
                            margin-bottom: 5px;
                        }
                    }
                    .col-12 {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 calc(100% - 60px);
                        flex: 0 0 calc(100% - 60px);
                        max-width: calc(100% - 60px);
                    }
                }
            }
        }
        .userPro-section {
            .userPro-cnt {
                .userPro-bio {
                    .edit-box {
                        h3 {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    .calendar-show {
        margin-top: 30px;
    }

    .slider-section {
        .carousel {
            .carousel-inner {
                .carousel-item {
                    .carousel-caption {
                        p {
                            font-size: 13px;
                        }
                        h1 {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .blog-section {
        padding: 50px 0%;
        .blog {
            display: inherit;
            .blog-img {
                @include dimension(300px, 100%);
            }
            .blog-des {
                @include dimension(null, 100%);
                padding: 20px;
                .blog-tlt {
                    font-size: 28px;
                }
            }
        }
    }
    .about-section {
        .apointment-tbl-all {
            padding: 10px;
            .api-tlt {
                font-size: 20px;
                text-align: center;
            }
            .apointment-tbl {
                display: inherit;
                div {
                    @include dimension(null, 100%);
                    padding: 5px 8px;
                }
            }
        }

        .side-blog {
            .blog-section {
                padding: 0 15px 15px 15px;

                .pop-master {
                    padding: 25px 0 20px;
                    h1 {
                        font-size: 28px;
                    }
                }
                .blog {
                    background: map-get($theme-colors, "color_0");
                    margin-bottom: 0;
                    padding: 25px 0px;
                    border-bottom: 1px solid map-get($theme-colors, "color_8");
                    .blog-des {
                        padding: 15px;
                    }
                }
            }
        }
    }

    .userPro-section {
        .userPro-cnt {
            .userPro-bio {
                .userPro-imgM {
                    margin: 15px auto;
                }
                .col-12 {
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .userPro-tlt {
                    h3 {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 575px) {
    .select-panel-section {
        .adition-service {
            .service-list {
                .s-list {
                    .adition-price {
                        margin-top: 15px;
                    }
                    .ser {
                        padding: 0;
                    }
                }
            }
        }
        .checkout {
            .col-12 {
                padding: 0;
            }
            .payment {
                .payment-option {
                    .pay-acc {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 550px) {
    .about-section {
        .about-nav {
            .nav-pills {
                .nav-item {
                    margin: 0 auto 10px;
                    text-align: center;
                    @include dimension(null, 80%);
                }
            }
        }

        .pro-box {
            .col-12 {
                -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
            .pro-img {
                @include dimension(null, 100%);
                padding: 15px;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .footer-section {
        .d-con {
            .f-txt {
                padding-right: 0;
            }
        }
        .f-menu {
            display: inherit;
            padding-bottom: 15px;
            .f-menu1 {
                @include dimension(null, 100%);
                padding-bottom: 15px;
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .about-section {
        .comment-s {
            .p-btn {
                font-size: 12px;
            }
            .com-reply {
                .comment {
                    .user-img-c {
                        @include dimension(45px, 45px);
                    }
                    .comment-cnt {
                        padding: 10px;
                        h2 {
                            font-size: 20px;
                        }
                        h6 {
                            font-size: 11px;
                        }
                        p {
                            font-size: 13px;
                        }
                    }
                    .col-12 {
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 calc(100% - 45px);
                        flex: 0 0 calc(100% - 45px);
                        max-width: calc(100% - 45px);
                    }
                }
            }
        }
    }
}
