<template>
  <div>
    <div class="row">
      <div class="col-12 col-sm-6">
        <SingleSrcSelect
          :sBox="types.sBox"
          @hideOption="hideOption"
          :label="types.label"
          :selected="types.selected"
          :name="types.name"
          :items.sync="types.items"
          :disabled="false"
          @setSelectedVal="setSelectedVal($event)"
          v-if="reRenderTypes"
        />
      </div>
    </div>
    <div class="apointment-srl-are">
      <vue-cal
        :time-from="0 * 60"
        :time-to="24 * 60"
        :time-step="calStep"
        :disable-views="['years', 'year']"
        :events="data.event"
        :on-event-click="onEventClick"
        class="vue-cal-ctm"
        @ready="logEvents('ready', $event)"
        @view-change="logEvents('view-change', $event)"
        @event-create="logEvents('event-create', $event)"
        v-if="type_id"
      ></vue-cal>
    </div>
    <transition name="appear">
      <CalendarModal
        v-if="isCalendarModal"
        :calendarModelD="calendarModelD"
        @booking="booking($event)"
        @cancel="cancelBooking"
      />
    </transition>
  </div>
</template>

<script>
import SingleSrcSelect from "./selectOption/SingleSrcSelect.vue";
import CalendarModal from "./modal/CalendarModal.vue";
export default {
  components: {
    SingleSrcSelect,
    CalendarModal
  },
  data() {
    return {
      types: {
        sBox: "types",
        label: "Types",
        name: "type_id",
        selected: {
          value: "Select Type",
          id: ""
        },
        items: []
      },
      typeData: null,
      type_id: 0,
      reRenderTypes: true,
      calStep: 60,
      isCalendarModal: false,
      data: [],
      calendarModelD: {}
    };
  },
  methods: {
    async logEvents($e, $data) {
      let start_date = $data.startDate;
      let end_date = $data.endDate;
      let start =
        start_date.getFullYear() +
        "-" +
        (start_date.getMonth() + 1) +
        "-" +
        start_date.getDate();
      let end =
        end_date.getFullYear() +
        "-" +
        (end_date.getMonth() + 1) +
        "-" +
        end_date.getDate();
      let getTypesUrl =
        this.$base_url +
        "/api/services/" +
        this.$s_id +
        "/types/" +
        this.type_id +
        "/getworkers?start_date=" +
        start +
        "&end_date=" +
        end;
      let types = await this.$getData("get", getTypesUrl);
      this.data = types.data;
      // var container = this.$el.querySelector(".vuecal__bg");
      // container.scrollTop = 280;
    },
    documentClick(e) {
      this.$emit("documentC", e);
    },
    hideOption(d) {
      this.$emit("updateTroggleOption", d);
    },
    reRenderTypesI() {
      this.reRenderTypes = false;
      this.$nextTick(() => {
        this.reRenderTypes = true;
      });
    },
    async setSelectedVal(d) {
      if (d.key == "types") {
        this.type_id = 0;
        this.$nextTick(() => {
          this.type_id = d.value;
        });
      }
    },
    onEventClick(event, e) {
      this.calendarModelD.id = this.data.id;
      this.calendarModelD.name = this.data.name;
      this.calendarModelD.price = this.data.price;
      this.calendarModelD.time = this.data.time;
      this.calendarModelD.event = event;
      this.isCalendarModal = true;
      // console.log(event);

      // Prevent navigating to narrower view (default vue-cal behavior).
      e.stopPropagation();
    },
    booking(input) {
      this.isCalendarModal = false;
      this.data.event.map((e, i) => {
        if (e.start == input.start) {
          e.workers.map((w, j) => {
            if (w.id == input.worker.id) {
              let title = e.title.split("</span>");
              title[j] =
                "<span class='wkr-status-busy'>" +
                w.name.slice(0, 2).toUpperCase() +
                ". ";
              w.class = "wkr-status-busy";
              e.workers[j] = w;
              e.title = title.join("</span>");
              this.data.event[i] = e;
            }
          });
        }
      });
    },
    cancelBooking() {
      this.isCalendarModal = false;
    }
  },
  created() {
    axios.defaults.headers.common = {
      Accept: "application/json",
      "Content-Type": "application/json;charset=UTF-8"
      // Authorization: "Bearer " + this.api_token
    };
    axios.interceptors.response.use(
      response => {
        return response;
      },
      error => {
        if (error.response) {
          return error.response;
        }
      }
    );
    window.addEventListener("click", this.documentClick);
  },
  async mounted() {
    let getTypesUrl = this.$base_url + "/api/services/" + this.$s_id + "/types";

    let types = await this.$getData("get", getTypesUrl);

    this.typeData = types.data;
    if (types.success) {
      this.types.items = types.data.map(item => {
        return {
          key: item.id,
          value: item.name
        };
      });
      this.types.selected.value = this.types.items[0].value;
      this.types.selected.id = this.types.items[0].key;
      // console.log(this.types.selected.value);
      this.type_id = this.types.items[0].key;
      this.calStep = this.typeData[0].time;
    } else {
      this.$toast.error(types.message, {
        duration: 5000,
        dismissible: true
      });
    }
    this.reRenderTypesI();
  }
};
</script>

<style>
.vuecal__event-time {
  display: none;
}
</style>
