<template>
  <div class="modal-vue">
    <div class="modal-window">
      <p>Booking</p>
      <button class="cancel close" @click="onCancel">
        <i class="fas fa-times"></i>
      </button>
      <div class="booking-cnt">
        <div class="row">
          <div class="col-12 col-sm-6">
            <div class="box">
              <div class="top-cnt">
                <span class="time-b">{{ time }}</span>
                <span class="date-b">{{ date }}</span>
                <!-- <span class="comlete-txt">Mase as Complete</span> -->
              </div>
              <div class="specialist text-center">
                <div class="check-worker" v-if="isCheckedWorker">
                  <div class="usr-name">{{ workerC.name }}</div>
                  <div class="serv">
                    <div class="serv-tlt">Specialist ON:</div>
                    <div class="serv-name">
                      <span
                        v-for="type in workerC.types"
                        :key="type.id"
                        class="c-worker-type"
                      >{{ type.name }}</span>
                    </div>
                  </div>
                </div>
                <div class="not-check-worker" v-else>Please chouse worker.</div>
              </div>
              <div class="selected-serv">
                <div class="s-serv-name">
                  Service: {{ serviceName }}
                  <!-- <span class="cle">cansle</span> -->
                </div>
                <div class="s-serv-name">
                  <span class="type-name">Type: {{ calendarModelD.name }}</span>
                  <span class="type-price float-right">Price: {{ calendarModelD.price }}</span>
                </div>
                <div class="client">
                  <span class="client-name">Provider: {{ provider.name }}</span>
                  <span class="client-email">{{ provider.email }}</span>
                </div>
              </div>
              <div class="adding-serv">
                <div class="adding-tlt text-center">
                  <span>Client Info</span>
                </div>
                <div class="row" v-if="client != 0">
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label class="control-label" for="email">Name:</label>
                      <input
                        type="text"
                        class="form-control"
                        name="name"
                        placeholder="Name"
                        :value="client.name"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label class="control-label" for="email">Nick Name / Company:</label>
                      <input
                        type="text"
                        class="form-control"
                        name="nickname"
                        placeholder="Nickname"
                        :value="client.nickname"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label class="control-label" for="email">Email:</label>
                      <input
                        type="email"
                        class="form-control"
                        name="email"
                        placeholder="Email"
                        :value="client.email"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label class="control-label" for="email">Phone No:</label>
                      <input
                        type="text"
                        class="form-control"
                        name="phone"
                        placeholder="Phone"
                        :value="client.phone"
                        readonly
                      />
                    </div>
                  </div>
                </div>
                <div v-else class="error-modal">
                  <button
                    class="btn p-btn-c l-btn"
                    data-toggle="modal"
                    data-target="#loginPopUp"
                  >Log in</button>
                  <button
                    class="btn p-btn-c l-btn"
                    data-toggle="modal"
                    data-target="#registrationPopUp"
                  >Registration</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="box">
              <div class="top-cnt text-center">
                <span class="time-b">{{ time }}</span>
                <span class="date-b">{{ date }}</span>
              </div>
              <div class="worker-tbl text-center">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Worker</th>
                      <th scope="col">Busy on Service</th>
                      <th scope="col">Mase Busy</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="worker in calendarModelD.event.workers" :key="worker.id">
                      <td class="w-name" :class="worker.class">{{ worker.name }}</td>
                      <td class="w-serv" :class="worker.class">
                        <span v-if="worker.class == 'wkr-status-free'">available</span>
                        <span v-else-if="worker.class == 'wkr-status-busy'">booked pending</span>
                        <span v-else-if="worker.class == 'wkr-status-confirm'">booked confirm</span>
                        <span v-else>leave</span>
                      </td>
                      <td>
                        <label class="container" v-if="worker.class == 'wkr-status-free'">
                          <input
                            type="checkbox"
                            :value="worker.id"
                            v-model="additional_grouped"
                            @change="uniqueCheck(worker, $event)"
                          />
                          <span class="checkmark"></span>
                        </label>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="booking-b">
                  <button class="btn booking-btn" @click="booking()">Booking</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["calendarModelD"],
  data() {
    return {
      end: null,
      time: null,
      date: null,
      isCheckedWorker: false,
      serviceName: this.$service.title,
      provider: this.$service.user,
      client: this.$user,
      additional_grouped: [],
      workerC: {}
    };
  },
  methods: {
    onCancel() {
      this.$emit("cancel");
    },
    uniqueCheck(worker, e) {
      this.workerC = worker;
      this.isCheckedWorker = true;
      this.additional_grouped = [];
      if (e.target.checked) {
        this.additional_grouped.push(e.target.value);
      }
    },
    checkClientInfoChange(obj) {
      // console.log(obj.user);
      this.client = obj.user;
      this.$user = obj.user;
    },
    async booking() {
      if (this.client == 0) {
        this.$toast.error("Please login to continue.", {
          duration: 5000,
          dismissible: true
        });
      } else {
        if (this.isCheckedWorker == false) {
          this.$toast.error("Please choose worker.", {
            duration: 5000,
            dismissible: true
          });
        } else {
          let start = this.calendarModelD.event.start.split(" ");
          let data = {
            user_id: this.client.id,
            worker_id: this.workerC.id,
            date: this.$moment(String(start[0])).format("YYYY-MM-DD"),
            start: this.time,
            end: this.end
          };
          let storeBookingUrl =
            this.$base_url +
            "/api/services/" +
            this.$s_id +
            "/types/" +
            this.calendarModelD.id +
            "/booking";
          let response = await this.$getData("post", storeBookingUrl, data);
          if (!response.success) {
            this.$toast.error(response.message, {
              duration: 5000,
              dismissible: true
            });
          } else {
            this.$toast.success(response.message, {
              duration: 5000,
              dismissible: true
            });
            let data = {
              start: this.calendarModelD.event.start,
              worker: this.workerC
            };
            this.$emit("booking", data);
          }
        }
      }
    }
  },
  created() {
    this.$parent.$on("setUpdateWorkingDayD", this.setUpdateWorkingDayD);
    let start = this.calendarModelD.event.start.split(" ");
    let end = this.calendarModelD.event.end.split(" ");
    this.date = this.$moment(String(start[0])).format("DD-MM-YYYY");
    this.time = start[1];
    this.end = end[1];
  },
  mounted() {
    $(document).on("loginComplete", this.checkClientInfoChange);
  }
};
</script>

<style></style>
