<template>
	<div class="col-12 no-pad">
		sdgsdgsdgsdgsdgsdg
	</div>
</template>

<script>
// import header from './components/inc/header.vue';

export default {
	props: {
        comName: {
            type: String,
            required: true
        }
    },
	components : {
		// 'app-header' : header,
	},
	data () {
		return {
			// mainCF : false,
		}
	},
	methods: {
		
	},
	mounted () {
		console.log(this.comName);
	}
}
</script>