<template>
  <div class="text-edit-wk-d">
    <div class="plus-wk-d" @click="addWorkerDay">
      <i class="fas fa-plus"></i>
    </div>
    {{ data.tue }}
  </div>
</template>

<script>
export default {
  props: ["data", "index"],
  methods: {
    addWorkerDay() {
      let data = {
        date: this.data.date.tue + " " + this.data.years.tue,
        day: "Tue",
        worker_id: this.data.id,
        worker: this.data.worker,
        index: this.index
      };
      this.$addWorkerDay(data);
    }
  },
  mounted() {}
};
</script>
