<template>
  <div class="modal-cal">
    <div class="modal-window">
      <p>Booking Information</p>
      <button class="cancel close" @click="onCancel">
        <i class="fas fa-times"></i>
      </button>
      <div class="booking-cnt">
        <div class="row">
          <div class="col-12" v-if="!isManage">
            <div class="box">
              <div class="top-cnt text-center">
                <span class="time-b">{{ time }}</span>
                <span class="date-b">{{ date }}</span>
              </div>
              <div class="worker-tbl text-center">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Worker</th>
                      <th scope="col">Busy on Service</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="worker in calendarModelD.event.workers" :key="worker.id">
                      <td class="w-name" :class="worker.class">{{ worker.name }}</td>
                      <td class="w-serv" :class="worker.class">
                        <span v-if="worker.class == 'wkr-status-free'">available</span>
                        <span v-else-if="worker.class == 'wkr-status-busy'">booked pending</span>
                        <span v-else-if="worker.class == 'wkr-status-confirm'">booked confirm</span>
                        <span v-else>leave</span>
                      </td>
                      <td>
                        <div
                          v-if="worker.class == 'wkr-status-busy' || worker.class == 'wkr-status-confirm'"
                        >
                          <button
                            class="btn edit-btn"
                            @click="manageBooking(calendarModelD.service_id, calendarModelD.id, worker)"
                          >Manage</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-12" v-else>
            <div class="box">
              <div class="top-cnt">
                <span class="time-b">{{ time }}</span>
                <span class="date-b">{{ date }}</span>
                <!-- <span class="comlete-txt">Mase as Complete</span> -->
              </div>
              <div class="specialist text-center">
                <div class="usr-name">{{ workerC.name }}</div>
                <div class="serv">
                  <div class="serv-tlt">Specialist ON:</div>
                  <div class="serv-name">
                    <span
                      v-for="type in workerC.types"
                      :key="type.id"
                      class="c-worker-type"
                    >{{ type.name }}</span>
                  </div>
                </div>
              </div>
              <div class="selected-serv">
                <div class="s-serv-name">
                  Service: {{ serviceName }}
                  <!-- <span class="cle">cansle</span> -->
                </div>
                <div class="s-serv-name">
                  <span class="type-name">Type: {{ calendarModelD.name }}</span>
                  <span class="type-price float-right">Price: {{ calendarModelD.price }}</span>
                </div>
                <div class="client">
                  <span class="client-name">Provider: {{ provider.name }}</span>
                  <span class="client-email">{{ provider.email }}</span>
                </div>
              </div>
              <div class="adding-serv">
                <div class="adding-tlt text-center">
                  <span>Client Info</span>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label class="control-label" for="email">Name:</label>
                      <input
                        type="text"
                        class="form-control"
                        name="name"
                        placeholder="Name"
                        :value="client.name"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label class="control-label" for="email">Nick Name / Company:</label>
                      <input
                        type="text"
                        class="form-control"
                        name="nickname"
                        placeholder="Nickname"
                        :value="client.nickname"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label class="control-label" for="email">Email:</label>
                      <input
                        type="email"
                        class="form-control"
                        name="email"
                        placeholder="Email"
                        :value="client.email"
                        readonly
                      />
                    </div>
                  </div>
                  <div class="col-12 col-sm-6">
                    <div class="form-group">
                      <label class="control-label" for="email">Phone No:</label>
                      <input
                        type="text"
                        class="form-control"
                        name="phone"
                        placeholder="Phone"
                        :value="client.phone"
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="action-area" v-if="workerC.class == 'wkr-status-busy'">
                <button class="btn del-btn warning" @click="cancledBooking()">Cancle</button>
                <button class="btn add-btn warning" @click="confirmedBooking()">Confirm</button>
              </div>
              <div class="action-area" v-else>
                <button class="btn add-btn warning" disabled>Confirmed</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["calendarModelD"],
  data() {
    return {
      end: null,
      time: null,
      date: null,
      workerC: {
        name: null,
        types: null
      },
      provider: this.$user,
      serviceName: this.calendarModelD.service_name,
      client: {
        name: null,
        nickname: null,
        email: null,
        phone: null
      },
      isManage: false,
      bookingData: null
    };
  },
  methods: {
    onCancel() {
      this.$emit("cancel");
    },
    cancledBooking() {
      let data = {
        value:
          this.date +
          " ( " +
          this.time +
          ":00" +
          " - " +
          this.end +
          ":00" +
          " )<br /><small class='f-s-14'>for worker</small> " +
          this.workerC.name,
        start: this.calendarModelD.event.start,
        worker: this.workerC,
        service_id: this.bookingData.service_id,
        type_id: this.bookingData.type_id,
        booking_id: this.bookingData.id
      };
      this.$emit("cancledBooking", data);
    },
    confirmedBooking() {
      let data = {
        value:
          this.date +
          " ( " +
          this.time +
          ":00" +
          " - " +
          this.end +
          ":00" +
          " )<br /><small class='f-s-14'>for worker</small> " +
          this.workerC.name,
        start: this.calendarModelD.event.start,
        worker: this.workerC,
        service_id: this.bookingData.service_id,
        type_id: this.bookingData.type_id,
        booking_id: this.bookingData.id
      };
      this.$emit("confirmedBooking", data);
    },
    async manageBooking(service_id, type_id, worker) {
      this.workerC = worker;
      let start = this.calendarModelD.event.start.split(" ");
      let data = {
        worker_id: worker.id,
        date: this.$moment(String(start[0])).format("YYYY-MM-DD"),
        start: start[1]
      };
      let getBookingUrl =
        this.$base_url +
        "/api/services/" +
        service_id +
        "/types/" +
        type_id +
        "/get-single-booking";

      let booking = await this.$getData("post", getBookingUrl, data);
      // console.log(booking);
      this.bookingData = booking.data;
      this.client = booking.data.user;
      this.isManage = true;
    }
  },
  created() {
    let start = this.calendarModelD.event.start.split(" ");
    let end = this.calendarModelD.event.end.split(" ");
    this.date = this.$moment(String(start[0])).format("DD-MM-YYYY");
    this.time = start[1];
    this.end = end[1];
  },
  mounted() {}
};
</script>

<style></style>
